<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid hidden-phone">
      <h2>Local NRV Community. Together at one place.</h2>
      <hr>
    </div>
    <div class="row-fluid">
      <div class="span7 hidden-phone">
        <div class="row-fluid">
          <h3>Local News</h3>
          <p class="lead">
            Catch up on the latest news in New River Valley captured from local news websites, blogs of local organizations and individuals.
          </p>
        </div>
        <div class="row-fluid">
          <h3>Chatter</h3>
          <p class="lead">
            See what the local community is talking about on Twitter and Facebook.
          </p>
        </div>
        <div class="row-fluid">
          <h3>Start a Blog</h3>
           <p class="lead">
             Start your own blog about things you care about, and share it with your local community and your friends.
          </p>
        </div>
        <div class="row-fluid">
          <h3>Share</h3>
           <p class="lead">
            Comment, like and share content with your friends on Twitter, Facebook or elsewhere.
          </p>
        </div>
        <div class="row-fluid" style="margin-bottom: 20px;">
          <h3>New Users</h3>
          <% if @new_users and @new_users.count != 0 %>
            <%= render :partial => "partials/new_users", :locals => {:users => @new_users} %>
          <% end %>
        </div>
      </div>

      <div class="span5 pull-right login-block">
        <%= render :partial => "partials/form/signin" %>
        <%= render :partial => "partials/form/signup_short" %>
      </div>
    </div>
</div>

<div class="row-fluid">
  <hr>
  <%= render :partial => "partials/footer" %>
</div>
