
<div class="row">
  <div class="span14">
    <%= render :partial => "partials/facebook/stories", :locals => {
      :stories => stories
    } %>
    <%= will_paginate stories, :renderer => PaginationListLinkRenderer %>
  </div>
</div>
