# Ruby: https://github.com/github/gitignore/blob/master/Ruby.gitignore

*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

# OSX: https://github.com/github/gitignore/blob/master/Global/OSX.gitignore

.DS_Store

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Rails: https://github.com/github/gitignore/blob/master/Rails.gitignore

*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/server/log*
/tmp/*
/db/*.sqlite3
/db/data.yml
/public/system/*
/coverage/
/spec/tmp/*
**.orig
config/database.yml
rerun.txt
pickle-email-*.html

# RVM
.rvmrc

# Colloki-specific

config/initializers/setup_mail.rb
config/deploy.rb
config/config.yml
fetch.sh

# Patch file for looking at diffs in editor
patch.diff

# rails 3.1
.sass-cache/

# rails 3.2
/public/assets/
