<div class="story-content">
  <% if story.image_exists? %>
    <div class="story-image">
      <%= image_tag(story.image.url) %>
    </div>
  <% end %>
  <div class="expandable">
    <%= sanitize(story.description) %>
  </div>
</div>

<% if story.kind == Story::Rss %>
  <hr>
  <div class="story-footer">
    Original article: <%= link_to story.source_url, story.source_url %>
  </div>
<% end %>
<hr>
