<div class="story-content">
  <% if story.image_exists? %>
    <div class="story-image">
      <%= image_tag(story.image.url) %>
    </div>
  <% end %>
  <div class="expandable">
    <%= sanitize(story.description) %>
  </div>
</div>
<hr>
