<% if posts.length > 0 %>
  <h3>What are people saying...</h3>
  <div>
    <% for post in posts %>
      <h4><a href="<%= post.source_url %>"><%= post.title %></a></h4>
      <div class="meta"><%= post.fb_likes_count %> likes, <%= post.fb_comments_count %> comments</div>
    <% end %>
  </div>
  <hr>
<% end %>
