Hi,
<br><br>

<a href="mailto:<%= @blog[:email] %>"><%= @blog[:email] %></a> sent a new site suggestion:

<br><br>

Link: <%= @blog[:url] %>

<br><br>
Description: <%= @blog[:description] %>

<br><br>