<div class="row-fluid topic-body">
  <div class="span12">
    <div class="row-fluid" style="margin-top: 5px;">
      <%= render :partial => "topics/type" %>
    </div>
    <div class="row-fluid">
      <div class="row-fluid">
        <h3 class="topic-header">This Week's News</h3>
      </div>
      <div class="row-fluid">
        <div class="span9">
          <div class="topic-stories"></div>
        </div>
        <div class="span3 sidebar hidden-phone">
          <%= render :partial => "topics/sidebar",
            :locals => {
              :stories => stories,
              :tags => tags,
              :topic => (defined? topic) ? topic : nil,
              :new_users => new_users,
              :active_topics => (defined? active_topics) ? active_topics : nil
            }
          %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render :partial => "topics/footer",
  :locals => {
    :stories => @stories,
    :topic => (defined? topic) ? topic : nil
  }
%>
