<div class="row-fluid topic-body">
  <div class="span9 topic-stories" style="min-height: 700px">
  </div>

  <div class="span2 sidebar hidden-phone" style="margin-left: 0px; min-width: 300px; margin-top: 10px;">
    <%= render :partial => "topics/sidebar",
      :locals => {
        :stories => stories,
        :tags => tags,
        :topic => (defined? topic) ? topic : nil,
        :new_users => new_users,
        :active_topics => (defined? active_topics) ? active_topics : nil
      }
    %>
  </div>
</div>

<%= render :partial => "topics/footer",
  :locals => {
    :stories => @stories,
    :topic => (defined? topic) ? topic : nil
  } 
%>
