<ul class="nav nav-pills">
  <li class="active">
    <a href="#" class="topic" data-id="-2">[ Everything ]</a>
  </li>
  <% topics.each_with_index do |topic, i| %>
    <%
      if defined? selected_topic and selected_topic and selected_topic.id == topic.id
        selected = true
      else
        selected = false
      end
    %>
    <%= render :partial => "topics/navigation_link",
      :locals => {
        :id => i,
        :selected => selected,
        :topic => topic
      }
    %>
  <% end %>
</ul>
