<ul class="nav nav-pills nav-stacked">
  <li class="active">
    <a href="#" class="sort" data-value="1"><i class="icon-fire"></i> Popularity</a>
  </li>
  <li>
    <a href="#" lass="sort" data-value="2"><i class="icon-calendar"></i> Date</a>
  </li>
</ul>
