<ul class="nav nav-pills">
  <li class="active">
    <a href="#" class="sort" data-value="1"><i class="icon-fire"></i> Popular</a>
  </li>
  <li>
    <a href="#" class="sort" data-value="2"><i class="icon-calendar"></i> Recent</a>
  </li>
</ul>
