<ul class="nav nav-pills">
  <li class="active">
    <a title="Order stories by popularity on the site, Twitter and Facebook" href="#" class="sort has-tooltip" data-value="1"><i class="icon-fire"></i> Popular</a>
  </li>
  <li>
    <a title="Order stories by publishing date" href="#" class="sort has-tooltip" data-value="2"><i class="icon-calendar"></i> Recent</a>
  </li>
</ul>
