<div class="filter-sort span3 pull-right" style="width: 200px">
  <ul class="nav nav-pills">
    <li class="active">
      <a class="sort" data-value="1"><i class="icon-fire"></i> Popularity</a>
    </li>
    <li>
      <a class="sort" data-value="2"><i class="icon-calendar"></i> Date</a>
    </li>
  </ul>
</div>
