
<!-- TODO: Dynamically load this list -->
<% sources = [
    "Blacksburg Electronic Village",
    "Blue Ridge Muse",
    "Collegiate Times",
    "Depotdazed",
    "Montgomery County VA",
    "NRV News",
    "New River Voice",
    "Our Valley",
    "New River Voice",
    "Progress and Main",
    "Southwest Virginia Blogs",
    "SWVA Today",
    "Town of Blacksburg",
    "The Burgs Blog",
    "The Southwest Times",
    "Virginia Tech"
]
%>

<div class="controls">
    <!-- TODO: Make these checkboxes instead of radio buttons -->
    <label class="radio">
        <input name="source" class="source" type="radio" checked data-value="" />
        All
    </label>

    <% for source in sources %>
        <label class="radio">
            <input name="source" class="source" type="radio" data-value="<%= source %>" />
            <%= source %>
        </label>
    <% end %>
</div>
