<ul class="nav nav-stacked nav-pills">
  <li class="active">
    <a href="#" class="source" data-value="-1">All Sources</a>
  </li>
  <% for source in sources %>
    <li>
      <a href="#" class="source" data-value="<%= source %>"><%= source %></a>
    </li>
  <% end %>
</ul>
