
<!-- TODO: Dynamically load this list -->
<% sources = [
  "Blacksburg Electronic Village",
  "Blue Ridge Muse",
  "Citizens First",
  "Collegiate Times",
  "Depotdazed",
  "Montgomery County VA",
  "NRV News",
  "New River Voice",
  "Our Valley",
  "New River Voice",
  "Progress and Main",
  "Southwest Virginia Blogs",
  "SWVA Today",
  "Town of Blacksburg",
  "The Burgs Blog",
  "The Southwest Times",
  "Virginia Tech News"]
%>

<ul class="nav nav-stacked nav-pills">
  <li class="active">
    <a href="#" class="source" data-value="-1">All Sources</a>
  </li>
  <% for source in sources %>
    <li>
      <a href="#" class="source" data-value="<%= source %>"><%= source %></a>
    </li>
  <% end %>
</ul>
