<% sum_of_distributions = 0 %>
<% topic.topic_keywords.each do |keyword| %>
  <% sum_of_distributions = sum_of_distributions + keyword.distribution %>
<% end %>

<% topic.topic_keywords.each do |keyword| %>
  <% weight = ((keyword.distribution / sum_of_distributions) * 100).to_int %>
  <% keyword_size = (weight + 15).to_s %>
  <span class='topic-keyword' 
    style='font-size: <%=keyword_size %>px; color: #888; line-height: 28px'>
    <%= keyword.name %>
  </span>
<% end %>
