<%= render :partial => "partials/topic_header", :locals => {:topic => @topic} %>
<div class="row">
  <div class="span12">
    <%= render :partial => "partials/story_items", :locals => { :stories => @stories } %>
    <%= will_paginate @stories, :renderer => PaginationListLinkRenderer %>
  </div>
    <%= render :partial => "partials/topics_sidebar", :locals => { :stories => @stories, :tags => @tags, :activity_items => @activity_items, :new_users => @new_users } %>
</div>