<% for activity_item in activity_items%>
  <div class='activity-item'>
    <%= link_to activity_item.user.login, :controller => "users", :action => "show", :id => activity_item.user.id %>
    <%= activity_item.sentence %>
    <%= link_to activity_item.story.title, :controller => "stories",:action => "show", :id => activity_item.story.id  %>
    <small><%= time_ago_in_words activity_item.created_at %> ago</small>
  </div>
<% end %>