<div class="discussion row">
  <div class="span1">
    <%= link_to gravatar_image_tag(activity.user.email, :gravatar => { :size => 28 }) %>
  </div>
  <div class="span11">
    <div class="row">
      <blockquote>
        <p>
          <%= link_to activity.user.login,
            :controller => "users",
            :action => "show",
            :id => activity.user.id %>
          <% if activity.comment %>
            <%= activity.comment.body %>
          <% end %>
          <small>
            <%= time_ago_in_words activity.created_at %> ago
          </small>
        </p>
      </blockquote>
    </div>
  </div>
</div>
