<footer>
  <p>
    <%= link_to image_tag("feed-icon-small.png"), "/feed",
      :class => "small-rss-icon" %>
    <%= link_to "RSS", "/feed", :class => "small-rss-icon" %> ·
    <%= link_to "About", about_url %>
  </p>
  <p>
    &copy; 2012 Virginia Tech ·
    <a href="http://cs.vt.edu">Computer Science</a> ·
    <a href="http://comm.vt.edu">Communication</a>
  </p>
</footer>
