<a class="btn btn-small has-popover"
  title="<%= title %>"
  data-content="<%= content %>"
  data-delay="0"
  style="margin-left:10px; display: inline-table; margin-bottom: -2px; padding: 0px 4px !important;font-weight: bold; font-size: 12px; opacity: 0.4"
  href="#">
  ?
</a>
