<div class="span1" style="width: 70px">
  <div class="btn-group small-btn" style="margin-top: 1px" >
    <a class="btn small-btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
      <!-- <i class="icon-share icon-white"></i> -->
      Share
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="#"
             target="_blank"
             onclick="window.open('http://www.facebook.com/sharer.php?u=<%=request.url%>', 
             'Share on Facebook',
             'height=500,width=500'); return false;">Facebook</a></li>
      <li><a href="#"
             target="_blank"
             onclick="window.open('http://twitter.com/share?url=<%= request.url %>', 
             'Share on Twitter',
             'height=500,width=700'); return false;">Twitter</a></li>
      <li><a href="#">Email this story</a></li>
    </ul>
  </div>
</div>
<div class="span1" style="width: 90px; margin-left: -3px;">
  <%= render :partial => "partials/google_plusone_button" %>
  <%= render :partial => "partials/facebook_like_button" %>
</div>