<a title="" 
   class="vts-reader btn btn-success btn-small disabled has_persistent_popover"
   data-text="<%= story.title + ". " + "from " + story.source + ". " + story.description %>"
   data-status="0"
   data-title="Listen to this story"
   data-content="To use this feature, you need to use <a href='https://www.google.com/chrome'>Google Chrome</a> and install this extension: <a href='https://chrome.google.com/webstore/detail/lfaffomdohalpfnkoakbnlpadhnanaoe'>VTS Reader</a>">
  <i class='icon-volume-up icon-white'></i>
</a>