<% 
  text = story.title + ". "
  if story.source
    text = text + "from " + story.source
  elsif story.user
    text = text + "posted by "
    if story.user.realname
      text = text + story.user.realname
    else
      text = text + story.user.login
    end
  end
  text = text + ". " + story.description
%>
<a title="" 
   class="vts-reader btn btn-success btn-small disabled has_persistent_popover"
   data-text="<%= text %>"
   data-status="0"
   data-title="Listen to this story"
   data-content="To use this feature, you need to use <a href='https://www.google.com/chrome'>Google Chrome</a> and install this extension: <a href='https://chrome.google.com/webstore/detail/lfaffomdohalpfnkoakbnlpadhnanaoe'>VTS Reader</a>">
  <i class='icon-volume-up icon-white'></i>
</a>