<div class="storyItemLayout2">
  <div class="storyItemContent">
    <%= story_item_thumbnail(story) %>
    <%= story_item_title(story) %>
    <div class="storyItemText">
      <%= story_item_content(story, 200, 200) %>
    </div>
    <%= story_item_meta(story) %>
  </div>
</div>