<div class="storyItemLayout3">
  <div class="storyItemContent">
    <%= mini_story_thumbnail(story, "medium") %>
    <%= mini_story_title(story) %>
    <%= mini_story_content(story, 240, 340) %>
    <%= mini_story_meta(story) %>
  </div>
</div>