<% if logged_in? %>
  <% if story.user and story.user.id != current_user.id %>
    <% if !current_user.voted_on?(story) %>
      <a href="<%= url_for(:controller=>"stories", :action => :vote, :id => story.id) %>" title="Like">
        <div class="storyVotePanel">
    <% else %>
      <a href="<%= url_for(:controller=>"stories", :action => :unvote, :id => story.id) %>" title="Unlike">
        <div class="storyVotePanel voted">
    <% end %>
  <% elsif story.kind == Story::Rss and !current_user.voted_on?(story) %>
    <a href="<%= url_for(:controller=>"stories", :action => :vote, :id => story.id) %>" title="Like">
      <div class="storyVotePanel">
  <% else %>
    <div class="storyVotePanel disabled">
  <% end %>
<% else %>
  <div class="storyVotePanel disabled">
<% end %>
  ♥ <span class="voteCount"><%= story.votes.count %></span>
</div>
<% if logged_in? %>
  <% if story.user and story.user.id != current_user.id and !current_user.voted_on?(story) %>
    </a>
  <% end %>
<% end %>