<div class="span3 story-item">
  <%= story_item_thumbnail(story, "small") %>
  <%= render :partial => "partials/story_item_title",
    :locals => {:story => story} %>
  <p>
    <%= story_item_content(story, 20, 140) %>
  </p>
  <%= render :partial => "partials/story_item_meta", 
    :locals => {:story => story} %>
</div>