<div class="storyItemVotePanel">
  <div class="voteCount">
    <%= story.votes_for - story.votes_against %>
  </div>
  <% if logged_in? %>
    <% #if (story.user.id != current_user.id) and !current_user.voted_on?(story) %>
      <a href="<%=url_for(:controller=>"stories", :action => :vote, :id => story.id)%>" title="Vote">
        <div class="voteButton">
          <%= image_tag("plus.png", :border => 0, :title => "Vote", :alt => "Vote") %>
        </div>
      </a>
    <% #end %>
  <% end %>
</div>