<div class="stories">
  <% i = 0 %>
  <% for story in @stories %>
    <% if i < 3 %>
      <%= render :partial => "partials/story_item_layout_1", :locals => {:story => story} %>
    <% else %>
      <%= render :partial => "partials/story_item_layout_2", :locals => {:story => story} %>
    <% end %>
    <% i += 1 %>
  <% end %>
</div>