<div class="storyItemLayout1">
  <div class="storyItemContent">
    <%= mini_story_thumbnail(story) %>
    <%= mini_story_title(story) %>
    <%= mini_story_content(story) %>
  </div>
    <%= mini_story_meta(story) %>
</div>