<div class="storyItemLayout3">
  <div class="storyItemContent">
    <%= story_item_thumbnail(story, "medium") %>
    <%= story_item_title(story) %>
    <div class="storyItemText">
      <%= story_item_content(story, 240, 340) %>
    </div>
    <%= story_item_meta(story) %>
  </div>
</div>