<div class="stories">
  <% i = 0 %>
  <% for story in @stories %>
    <% if i == 1 or i >=7 or (i > 1 and (i - 1).remainder(3) == 0) %>
      <div class="storyItemDivider"></div>
    <% end %>
    <% if i == 0 %>
      <%= render :partial => "partials/story_item_layout_3", :locals => {:story => story} %>
    <% elsif i < 7 %>
      <%= render :partial => "partials/story_item_layout_1", :locals => {:story => story} %>
    <% else %>
      <%= render :partial => "partials/story_item_layout_2", :locals => {:story => story} %>
    <% end %>
    <% i += 1 %>
  <% end %>
</div>