<div class="storyItemLayout1">
  <div class="storyItemContent">
    <%= story_item_thumbnail(story) %>
    <%= story_item_title(story) %>
    <div class="storyItemText">
      <%= story_item_content(story) %>
    </div>
  </div>
    <%= story_item_meta(story) %>
</div>