<div class="span3 story">
  <%= story_item_thumbnail(story, "small") %>
  <%= story_item_title(story) %>
  <p>
    <%= story_item_content(story, 20, 140) %>
  </p>
  <%= story_item_meta(story) %>
</div>