<div class="span3 story-item">
  <%= story_item_thumbnail(story, "small") %>
  <h4><%= story_item_title(story) %></h4>
  <p>
    <%= story_item_content(story, 20, 140) %>
  </p>
  <%= story_item_meta(story) %>
</div>