<!-- <div>
  <b class="tagCloud">
  <b class="tagCloud1"><b></b></b>
  <b class="tagCloud2"><b></b></b>
  <b class="tagCloud3"></b>
  <b class="tagCloud4"></b>
  <b class="tagCloud5"></b></b>

  <div class="tagCloudfg">
  <div class="tagCloudContent"> -->
  <% #tag_cloud tags, %w(css1 css2 css3 css4) do |tag, css_class| %>
    <% #if topic %>
      <% #link_to tag.name, tags_url(:id => topic, :tag_list => tag.name), :class => css_class %>
    <% #else %>
      <% #link_to tag.name, global_tags_url(:tag_list => tag.name), :class => css_class %>
    <% #end %>
  <% #end %>
  <!-- </div>
  </div>

  <b class="tagCloud">
  <b class="tagCloud5"></b>
  <b class="tagCloud4"></b>
  <b class="tagCloud3"></b>
  <b class="tagCloud2"><b></b></b>
  <b class="tagCloud1"><b></b></b></b>
</div> -->