// Carousel CSS

#stories-carousel {
  min-width: 100%;
  .item {
    height: 300px;
    a {
      display: block;
      text-align: center;
    }
    .carousel-caption {
      a {
        text-align: left;
        color: #fff !important;
      }
    }
    
  }
}