// Carousel CSS

#stories-carousel {
  min-width: 100%;
  .item {
    height: 300px;
    a {
      display: block;
      text-align: center;
    }

    .carousel-caption {
      a {
        text-align: left;
        display: inline;
        font-weight: normal;
      }

      a.story-item-title {
        color: #fff !important;
        font-weight: bold;
      }
    }
    
    .story-published-at {
      font-style: italic;
      font-weight: normal;
      font-size: 12px;
    }
  }
}