.sidebar-story {
  .favicon {
    margin-right: 5px;
  }
  margin-bottom: 10px;
  font-weight: 300;
}

.sidebar-story-thumb {
  width: 5em;
  float: left;
  margin-left: 5px;
  margin-top: 3px;
}

.sidebar-story-content {
  margin-left: 0px !important;
}