body {
  margin: 0;
  padding: 0;
  color: #000;
}

body, p, ol, ul, td {
  font-family: "Lucida Grande", helvetica, arial, verdana, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

/* Removing the ugly border from all images ~SA */
:link img, img {
  border: none;
}

#subHeader {
  clear: both;
  height: auto;
}

.topicListItem {
  color: #444;
  margin: 0;
  padding: 10px 0;
  clear: both;
}

.topicListItem h2 {
  color: #495261;
  font-size: 16px;
  background-color: #f0f5fa;
  padding: 5px;
  border: 1px solid #e7ecf0;
}

.topicListItem h2:hover {
  color: #333;
  background-color: #e4edf7;
  -webkit-transition: background-color 1s;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #0066CC;
  text-decoration: none;
}

a:visited {
  color: #0066cc;
}

a:hover {
  color: #990000;
}

a.negative {
  color: #df0e0f;
  font-weight: bold;
}

a.negative:hover {
  color: #f97d4c;
}

a.bookmarklet {
  background-color: #d9d9d9;
  border: 2px solid #888;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 2px 5px;
}

.notice {
  color: #2ea711;
  background-color: #ecfee4;
  padding: 5px 10px;
  border: 1px solid #188a09;
  opacity: 0.88;
  margin: 0 auto;
}

.alert {
  color: #b90d14;
  background-color: #fce6d9;
  padding: 5px 10px;
  border: 1px solid #7b0c10;
  opacity: 0.94;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#header {
  height: 28px;
  min-width: 790px;
  background-color: #51555c;
  color: #eee;
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
/*  box-shadow: 0px -1px 10px 1px #28373d;*/
}

#header a {
  color: #fff36b;
}

#header_wrap {
  width: 960px;
  margin: 0 auto;
}

#header_title {
  display: inline-block;
  color: #fff !important;
}

#userInfo {
  font-size: 11px;
  width: 300;
  float: right;
  text-align: right;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

.storyMeta {
  background-color: #edf6f7;
  padding: 5px;
  margin-top: 20px;
  overflow: auto;
}

.storyItemEdit {
  font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  width: 100px;
  clear: left;
  float: right;
  margin: 0px;
  padding: 0px;
  display: none;
  text-align: right;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

.storyTitle {
  display: block;
  font-size: 26px;
  font-weight: normal;
  margin: 10px 0;
}

.tagCloudContent {
  padding: 5px;
  text-align: center;
}

/* Generated CSS from http://spiffycorners.com for tag cloud.
Don't edit here, instead, regenerate, and copy paste. */

.tagCloud{display:block}
.tagCloud *{
  display:block;
  height:1px;
  overflow:hidden;
  font-size:.01em;
  background:#F4F5F0}
.tagCloud1{
  margin-left:3px;
  margin-right:3px;
  padding-left:1px;
  padding-right:1px;
  border-left:1px solid #fafaf8;
  border-right:1px solid #fafaf8;
  background:#f6f7f3}
.tagCloud2{
  margin-left:1px;
  margin-right:1px;
  padding-right:1px;
  padding-left:1px;
  border-left:1px solid #fdfefd;
  border-right:1px solid #fdfefd;
  background:#f6f6f2}
.tagCloud3{
  margin-left:1px;
  margin-right:1px;
  border-left:1px solid #f6f6f2;
  border-right:1px solid #f6f6f2;}
.tagCloud4{
  border-left:1px solid #fafaf8;
  border-right:1px solid #fafaf8}
.tagCloud5{
  border-left:1px solid #f6f7f3;
  border-right:1px solid #f6f7f3}
.tagCloudfg{
  background:#F4F5F0}
/* Generated Code End */

.storyHeader {
  margin: 30px 0 10px 0;
}

div.storyHeaderTagList {
  padding-top: 5px;
}

.storyHeaderLink a {
  color: #919191;
  font-size: 10px;
}

.storyHeaderLink a:hover{
  color: #990000;
}

.storyDescription {
  clear: left;
  padding-top: 15px;
}

.stories {
  overflow: auto;
}

.storyItemLayout1 {
  float: left;
  width: 200px;
  padding: 5px 25px 0 0;
  min-height: 100px;
  margin: 0;
}

.storyItemLayout2 {
  padding: 5px 0;
  margin: 0px;
}

.storyItemMeta {
  font-size: 10px;
  clear: none;
  color: #646464;
  margin-top: 5px;
}

.storyItemMeta a {
  color: #646464;
}

.storyItemMeta a:hover {
  color: #990000;
}

.storyItemVotePanel {
  float: left;
  width: 60px;
}

.storyItemContent {
  margin-bottom: 10px;
}

#contentPanel {
  width: 685px;
  clear: none;
  float: left;
}

#rightPanel {
  width: 250px;
  float: right;
  vertical-align: top;
}

.sidebar_block {
  padding-bottom: 20px;
}

#footer{
  clear: both;
  font-size: 10px;
  margin: 5px;
  margin-top: 30px;
  padding-top: 10px;
  border-top: 1px solid #eee;
  text-align: center;
}

#wrap {
  width: 960px;
  margin: 0 auto;
  padding-top: 5px;
}

#content {
  min-width: 750px;
  min-height: 600px;
  overflow: auto;
}

.storyTagList {
  margin: 5px 0;
}

.tag {
  font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: #333;
  background-color: #eee;
  padding-left:4px;
  padding-right:4px;
  padding-top:2px;
  padding-bottom:2px;
  width:auto;
  margin-top: 2px;
  margin-right: 4px;
  margin-bottom: 2px;
}

.tag a,
.tag a:visited,
.tag a:hover {
  color: #333;
}

.tag:hover {
  background-color: #dfdfef;
}

a.tagLink,
a.tagLink:hover,
a.tagLink:visited {
  color: #333;
}

.right-top {
  float: right;
  clear: none;
  position: relative;
  right: 0;
  top: 0;
}

.sortTab {
  margin: 6px;
  padding: 6px;
}

.sortTab:hover {
  border-bottom: 4px solid #b9cefe;
}

.sortTab a a:visited{
  font-size: 12px;
  font-weight: bold;
  color: #284bce;
}

.sortTabSelected {
  border-bottom: 4px solid #345efd;
  color: #333333;
  margin: 6px;
  padding: 6px;
}

.pagination {
  text-align: right;
  margin-right: 10px;
  color: #595959;
  font-size: 10px;
}

.userProfileBanner {
  border: 1px solid #fff;
  font-size: 16px;
  padding: 5px;
  background-color: #f3f3f3;
  -webkit-box-shadow: #c7c7c7 0px 0px 5px;
  margin-bottom: 8px;
  margin-top: 8px;
  color: #353535;
  opacity: 0.95;
}

.formTable tr{
  margin-top: 4px;
}

.fieldLabel {
  text-align: right;
  vertical-align: top;
  width: 170px;
  margin-top: 5px;
  display: inline-block;
  margin-right: 12px;
}

.fieldMeta {
  padding-left: 2px;
  color: #575757;
  font-size: 10px;
}

.fieldNotEditable {
  font-weight: bold;
  font-size: 16px;
  padding-top: 5px;
}

.fieldValue {
  display: inline-block;
}

.field {
  margin: 10px 0;
}

.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }

.headerTitle span{
  border: 1px solid #5588dc;
  font-size: 16px;
  padding: 5px;
  background-color: #4fbafd;
  -webkit-box-shadow: #4fbafd 0px 0px 5px;
  margin-bottom: 8px;
  margin-top: 8px;
  color: white;
  opacity: 0.95;
}

h1 {
    font-size: 22px;
    color: #555;
    margin: 30px 0 10px 0;
}

h1.bluegray {
  border: 1px solid #82879b;
  background-color: #b0b7c8;
  -webkit-box-shadow: #82879b 0px 0px 5px;
}

h1.green {
  border: 1px solid #20ad46;
  background-color: #2bdd59;
  -webkit-box-shadow: #20ad46 0px 0px 5px;
}

h1.orange {
  border: 1px solid #dd8711;
  background-color: #f5af1c;
  -webkit-box-shadow: #f5af1c 0px 0px 5px;
}

h1.white {
  border: 1px solid #cdcdcd;
  background-color: #fff;
  -webkit-box-shadow: #cdcdcd 0px 0px 5px;
  color: #419ad1;
}

h1.white a, h1.white a:visited {
  color: #419ad1;
}

h1.white:hover {
  background-color: #f0f0f0;
}

h2 {
  border-bottom: 1px solid #eee;
  color: #333333;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
}

h3 {
  margin: 0;
  padding: 0px 0px 5px;
}

h4 {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  margin: 5px 0;
}

blockquote {
  color: rgb(102, 102, 102);
  display: block;
  font-family: Georgia;
  font-style: italic;
  margin: 20px 30px;
}

.commentContent {
  border: 3px solid #e8e8e8;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 0px;
  margin-top: 14px;
}

.commentMeta {
  background: #e8e8e8;
  margin-left: -5px;
  margin-right: -5px;
  padding: 5px 0 0;
  margin-top: 10px;
}

.commentDeleteLink {
  float: right;
  clear: both;
  text-align: right;
  font-size: 10px;
}

.comment {
  color: rgb(102, 102, 102);
  display: block;
  margin-bottom: 4px;
  margin-left: 5px;
  margin-right: 10px;
  margin-top: 4px;
}

.commentInfo {
  font-size: 12px;
  color: #999999;
  margin-left: 5px;
}

.activityItem {
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.voteCount {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  padding: 5px;
}

.voteButton {
  font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
  font-size: 10px;
  background-color: #DBF0DC;
  padding: 3px;
  text-align: center;
  vertical-align: middle;
  height: 20px;
  margin: 0 3px 2px;
  border-top: 1px solid #d0d0d0;
}

.voteButton:hover {
  background-color: #b4efba;
}

.unVoteButton {
  font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
  font-size: 9px;
  background-color: #F0E5CD;
  margin-right: 3px;
  margin-bottom: 2px;
  margin-left: 3px;
  padding: 3px;
  text-align: center;
  vertical-align: middle;
  height: 20px;
  border-top: 1px solid #d0d0d0;
}

.unVoteButton:hover {
  background-color: #eda69f;
}

.addFormRightPanel {
  float: right;
  width: 250px;
  border: 1px solid #9C9F9A;
  padding: 6px;
}

.addForm {
  margin-right: 260px;
}

input {
  border: 1px solid #ccc;
  padding: 4px;
  font-size: 1em;
  background-color: #F8F8F8;
}

input:focus {
  border-color: #555;
  background-color: #F5EFE6;
}

textarea {
  padding: 4px;
  font-size: 1em;
  width: 500px;
  background-color: #F8F8F8;
  border: 1px solid #ccc;
}

textarea:focus {
  border-color: #000;
  background-color: #F5EFE6;
}

.url_input {
  padding: 4px;
  font-size: 1.5em;
  width: 500px;
  background-color: #F8F8F8;
}

.title_input {
  padding: 4px;
  font-size: 1.2em;
  width: 500px;
  background-color: #F8F8F8;
}

#sortOptions {
  text-align: right;
  padding: 10px 0;
}

.tabContent {
  border: 1px solid #b0b0b0;
  border-top-style: none;
  padding-bottom: 10px;
}

/* begin css tabs */
/* Derived from: http://unraveled.com/publications/assets/css_tabs/ */

ul#tabnav {
  text-align: left;
  margin: 1em 0 0;
  font-size: 13px;
  font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
  font-weight: bold;
  border-bottom: 1px solid #b0b0b0;
  list-style-type: none;
  padding: 3px 10px 2px 10px;
}

ul#tabnav li {
  display: inline;
}

ul#tabnav li a {
  width: 150px;
  padding-left: 4px;
  padding-right: 4px;
}

div#all li.all,
div#links li.links,
div#posts li.posts,
div#tab4 li.tab4 {
  border-bottom: 1px solid #fff;
  background-color: #fff;
}

div#all li.all a,
div#links li.links a,
div#posts li.posts a,
div#tab4 li.tab4 a { /* settings for selected tab link */
  background-color: white; /* set selected tab background color as desired */
  color: #000; /* set selected tab link color as desired */
  position: relative;
  top: 1px;
  padding-top: 4px; /* must change with respect to padding (X) above and below */
}

ul#tabnav li a { /* settings for all tab links */
  padding: 3px 4px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
  border: 1px solid #b0b0b0; /* set border COLOR as desired; usually matches border color specified in #tabnav */
  background-color: #a3a3a3; /* set unselected tab background color as desired */
  color: #fbfbfb; /* set unselected tab link color as desired */
  margin-right: 0px; /* set additional spacing between tabs as desired */
  text-decoration: none;
  border-bottom: none;
}

ul#tabnav a:hover { /* settings for hover effect */
  background: #f5f5f5; /* set desired hover color */
  color: black;
}

/* end css tabs */

/* BUTTONS */
/* Credit: http://particletree.com/features/rediscovering-the-button-element/ */

a.button,
button {
  display: block;
  float: left;
  margin: 0 7px 0 0;
  background-color: #f5f5f5;
  border: 1px solid #c3c3c3;
  border-top: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
  font-size: 100%;
  line-height: 130%;
  text-decoration: none;
  font-weight: bold;
  color: #565656;
  cursor: pointer;
  padding: 5px 10px 6px 7px;
}

button {
  width: auto;
  overflow: visible;
  padding: 4px 10px 3px 7px; /* IE6 */
}

button[type] {
  padding: 5px 10px 5px 7px; /* Firefox */
  line-height: 17px; /* Safari */
}

*:first-child+html button[type] {
  padding: 4px 10px 3px 7px; /* IE7 */
}

button img,
a.button img {
  margin: 0 3px -3px 0 !important;
  padding: 0;
  border: none;
  width: 16px;
  height: 16px;
}

/* STANDARD */

button:hover,
a.button:hover {
  background-color: #dff4ff;
  border: 1px solid #c2e1ef;
  color: #336699;
}

a.button:active {
  background-color: #6299c5;
  border: 1px solid #6299c5;
  color: #fff;
}

/* POSITIVE */

a.button.positive,
button.positive {
  color: #529214;
}

a.button.positive:hover,
button.positive:hover {
  background-color: #E6EFC2;
  border: 1px solid #C6D880;
  color: #529214;
}

a.button.positive:active,
button.positive:active {
  background-color: #529214;
  border: 1px solid #529214;
  color: #fff;
}

/* NEGATIVE */

a.button.negative,
button.negative {
  color: #a12d4e;
}

a.button.negative:hover,
button.negative:hover {
  background: #fbe3e4;
  border: 1px solid #fbc2c4;
  color: #d12f19;
}

a.button.negative:active {
  background-color: #d12f19;
  border: 1px solid #d12f19;
  color: #fff;
}

/* BUTTONS END */

/** Login Form **/

#login_form {
  width: 350px;
  text-align: center;
  margin: 0 auto;
}

#login_form label {
  width: 190px;
  float: left;
  margin-top: 5px;
  text-align: left;
}

#login_form p {
  text-align: left;
}

#facebook_signin_bt {
  display: inline-block;
  width: 150px;
  height: 23px;
  background: 0px -24px url('../images/facebook_signin.png');
}

#facebook_signin_bt:hover {
  background: 0px 0px url('../images/facebook_signin.png');
}

#facebook_signin_bt:active {
  background: 0px 23px url('../images/facebook_signin.png');
}