body {
  margin: 0;
  padding: 0;
  color: #000;
  background: #edf3f5;
}

body, p, ol, ul, td {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

/* Removing the ugly border from all images ~SA */
:link img, img {
  border: none;
}

#subHeader {
  clear: both;
  height: auto;
}

.topicListItem {
  color: #444;
  margin: 0;
  padding: 10px 0;
  clear: both;
}

.topicListItem h2 {
  color: #495261;
  font-size: 18px;
  padding: 5px 5px 5px 0;
  border-bottom: 1px solid #e7ecf0;
}

.topicListItem h2:hover {
  color: #333;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a,
a:visited {
  color: #36C;
  text-decoration: none;
}

a:hover {
/*  color: #9ac267;*/
  text-decoration: underline;
}

a.negative {
  color: #df0e0f;
  font-weight: bold;
}

a.negative:hover {
  color: #f97d4c;
}

a.bookmarklet {
  background-color: #d9d9d9;
  border: 2px solid #888;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 2px 5px;
}

.notice,
.error,
.alert {
  width: 64%;
  display: inline-block;
  margin-left: 10%;
  margin-bottom: 5px;
  width: 82%;
}

.notice {
  color: #2ea711;
  background-color: #ecfee4;
  padding: 5px 10px;
  border: 1px solid #188a09;
  opacity: 0.88;
}

.alert,
.error {
  color: #b90d14;
  background-color: #fce6d9;
  padding: 5px 10px;
  border: 1px solid #7b0c10;
  opacity: 0.94;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#header {
  height: 34px;
  color: #333;
  width: 86%;
  margin-left: 10%;
  padding: 2px;
}

#header_wrap {
  margin: 0 auto;
}

#header_title {
  padding-top: 7px;
  float: left;
  display: inline-block;
  color: #111 !important;
  font-size: 22px;
  text-shadow: 1px 1px 1px #eee;
  font-family: Palatino;
  font-variant: small-caps;
  font-weight: bold;
}

#header_title:hover {
  text-decoration: none;
}

#userInfo {
  font-size: 12px;
  float: right;
  text-align: right;
  margin-right: 10px;
  padding: 6px 0;
  font-weight: normal;
}

#userInfo a {
  margin-left: 10px;
}

#search {
  display: block;
  padding-top: 3px;
  float: right;
  width: 20%;
}

#search input {
  font-size: 13px;
  width: 180px;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

.storyItemEdit {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 10px;
  width: 100px;
  clear: left;
  float: right;
  margin: 0px;
  padding: 0px;
  display: none;
  text-align: right;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

.tagCloudContent {
  padding: 5px;
  text-align: center;
}

div.storyTagList {
  padding-top: 10px;
}

.storyHeader {
  padding: 5px 0;
}

.storyHeaderLink {
  padding: 3px 0;
}

.storyHeaderLink a {
  color: #919191;
  font-size: 10px;
}

.storyHeaderLink a:hover{
  color: #990000;
}

.storyContent {
  padding-top: 10px;
  clear: left;
  margin: 0 auto;
}

.storyImage {
  text-align: center;
}

.storyMeta {
  padding: 2px;
  font-size: 12px;
  color: #555;
  clear: both;
}

.storyMeta .storyItemIcon {
  margin-top: 2px;
}

.storyTitle {
  display: block;
  float: left;
  clear: both;
  width: 90%;
  font-size: 21px;
  font-weight: normal;
  margin: 0;
  padding-bottom: 5px;
  line-height: 30px;
}

.stories {
  overflow: auto;
}

.storyItemLayout1 {
  float: left;
  width: 30%;
  padding: 15px 10px 15px 10px;
}

.storyItemLayout2 {
  clear: both;
  margin: 0px;
  padding: 15px 5px 0 10px;
  width: 96%;
}

.storyItemLayout3 {
  clear: both;
  padding: 10px 5px 10px 10px;
  width: 96%;
}

.storyItemText {
  text-overflow: ellipsis;
  max-height: 40px;
  overflow: hidden;
}

.storyItemLayout1 .storyItemContent {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  max-height: 205px;
}

.storyItemLayout3 .storyItemContent {
  overflow: hidden;
}

.storyItemLayout3 .storyItemText {
  max-height: 50px;
}

.storyItemLayout3 .storyItemThumbnail {
  float: left;
  margin-right: 10px;
}

.storyItemLayout2 .storyItemContent {
  overflow: hidden;
  height: 125px;
}

.storyItemLayout2 .storyItemThumbnail {
  float: left;
  margin-right: 10px;
}

.storyItemLayout1:hover,
.storyItemLayout2:hover,
.storyItemLayout3:hover {
/*  background: #edf3f5;*/
}

.storyItemMeta {
  font-size: 11px;
  clear: none;
  color: #555;
  margin-top: 5px;
}

.storyItemDivider {
  border: none;
  clear: both;
  border-top: 1px solid #eee;
  width: 90%;
  margin: 0 auto;
}

.heart {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 14px;
}

.storyVotePanel,
.storyVotePanel.voted:hover {
  float: right;
  display: block;
  font-size: 16px;
  color: #666;
  background-color: #fff;
  border: none;
  margin-top: 2px;
  padding: 3px 10px;
  display: none;
}

.storyVotePanel:hover, .voted {
  background-color: #eee;
  color: #555;
  cursor: pointer;
}

.disabled:hover {
  background: none;
  cursor: default;
}

.storyItemIcon {
  float: left;
  margin-right: 5px;
  height: 12px;
  width: 12px;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  opacity: 0.6;
}

#right ul li {
  padding: 5px 0;
  clear: both;
}

#right ul li .favicon {
  opacity: 0.6;
  height: 12px;
  width: 12px;
  float: left;
  margin-right: 5px;
  margin-top: 2px;
}

#right ul li .story_sidebar_link {
  float: left;
  width: 90%;
}

#content {
  border-right: 1px solid #eee;
  float: left;
  width: 82%;
  padding: 10px;
  min-height: 600px;
  overflow: auto;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: 10%;
}

#middle {
  float: left;
  width: 73%;
  padding-right: 1%;
  min-height: 600px;
  overflow: auto;
  padding-left: 1%;
  padding-bottom: 20px;
}

#centeredContent {
  width: 800px;
  margin: 0 auto;
  min-height: 600px;
  padding: 10px;
}

#right {
  width: 24%;
  float: right;
}

#right ul {
  padding: 0;
}

#right li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#left {
  width: 9%;
  float: left;
  display: block;
  padding: 10px 0 0 2px;
  padding-top: 0;
  height: 100%;
  overflow: auto;
  background: transparent;
  position: fixed;
  margin-top: 38px;
}

#left h1 {
  color: #333;
  text-transform: none;
  margin: 10px 0;
  padding: 0 10px;
  float: none;
}

#left ul {
  margin: 0;
  padding: 0;
}

#left li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#left li a {
  display: block;
  text-transform: capitalize;
  color: #555;
  padding: 5px 10px;
  font-size: 13px;
}

#left li a:hover {
  background-color: #d1dae3;
  color: #272d33;
  cursor: pointer;
  text-decoration: none;
}

#left .selected a {
  background-color: #d1dae3;
  color: #272d33 !important;
  font-weight: bold;
}

#left .separator {
  padding-top: 8px;
  margin-bottom: 8px;
  width: 50%;
  margin: 0 auto;
}

.block {
  padding: 8px 0;
}

.block:nth-child(1) {
  padding-top: 0;
}

#footer {
  clear: both;
  font-size: 11px;
  margin: 0 auto;
  text-align: center;
  color: #555;
  width: 80%;
  border-top: 1px solid #eee;
  padding-top: 10px;
  height: 50px;
}

#wrap {
  margin: 0 auto;
  padding-top: 5px;
  overflow: auto;
/*  width: 1200px;*/
}

.tag {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 10px;
  color: #333;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-right: 4px;
}

.tag a,
.tag a:visited,
.tag a:hover {
  color: #333;
}

.tag:hover {
  background-color: #fff;
}

a.tagLink,
a.tagLink:hover,
a.tagLink:visited {
  color: #333;
}

.right-top {
  float: right;
  clear: none;
  position: relative;
  right: 0;
  top: 0;
}

.sortTab {
  margin: 6px;
  padding: 6px;
}

.sortTab:hover {
  border-bottom: 4px solid #b9cefe;
}

.sortTab a a:visited{
  font-size: 12px;
  font-weight: bold;
  color: #284bce;
}

.sortTabSelected {
  border-bottom: 4px solid #345efd;
  color: #333333;
  margin: 6px;
  padding: 6px;
}

.pagination {
  text-align: right;
  margin-right: 10px;
  color: #595959;
  font-size: 12px;
  background: #edf3f5;
  padding: 10px;
  border-radius: 2px;
}

.current {
  font-style: normal;
  font-weight: bold;
}

.userProfileBanner {
  font-size: 12px;
  margin: 8px 0;
  color: #353535;
  opacity: 0.95;
}

.userProfileBanner h3 {
  font-size: 16px;
}

.userProfilePic {
  float: left;
  display: inline-block;
  margin-left: 2px;
  margin-right: 10px;
  padding: 4px;
  padding-left: 0;
  padding-bottom: 0;
  background-color: #fff;
}

.fieldLabel {
  text-align: right;
  vertical-align: top;
  width: 170px;
  margin-top: 5px;
  display: inline-block;
  margin-right: 12px;
}

.fieldMeta {
  padding-left: 2px;
  color: #575757;
  font-size: 10px;
}

.fieldNotEditable {
  font-weight: bold;
  font-size: 16px;
  padding-top: 5px;
}

.fieldValue {
  display: inline-block;
}

.field {
  margin: 10px 0;
}

.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }

h1 {
  font-size: 15px;
  color: #333;
  margin: 0;
  padding: 10px 0 10px 0px;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  color: #333;
  font-weight: normal;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 14px;
}

h3 {
  margin: 0;
  padding: 0px 0px 5px;
}

h4 {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #333333;
  margin: 0;
  line-height: 17px;
  margin-bottom: 5px;
}

blockquote {
  color: rgb(102, 102, 102);
  display: block;
  font-family: Georgia;
  font-style: italic;
  margin: 20px 30px;
}

.comment {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 0px;
  margin-top: 5px;
  color: #333;
  display: block;
  clear: both;
  overflow: auto;
  border-bottom: 1px solid #eee;
}

.commentPic {
  float: left;
  margin-right: 10px;
  margin-top: 6px;
}

.commentBody {
  display: block;
  float: left;
  max-width: 560px;
}

.commentDeleteLink {
  float: right;
  clear: both;
  text-align: right;
  font-size: 10px;
}

.commentInfo {
  font-size: 11px;
  color: #999999;
  margin-top: 5px;
}

.activityItem {
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.voteButton {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 10px;
  background-color: #DBF0DC;
  padding: 3px;
  text-align: center;
  vertical-align: middle;
  height: 20px;
  margin: 0 3px 2px;
  border-top: 1px solid #d0d0d0;
}

.voteButton:hover {
  background-color: #b4efba;
}

.unVoteButton {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 9px;
  background-color: #F0E5CD;
  margin-right: 3px;
  margin-bottom: 2px;
  margin-left: 3px;
  padding: 3px;
  text-align: center;
  vertical-align: middle;
  height: 20px;
  border-top: 1px solid #d0d0d0;
}

.unVoteButton:hover {
  background-color: #eda69f;
}

.addFormRightPanel {
  float: right;
  width: 250px;
  border: 1px solid #9C9F9A;
  padding: 6px;
}

.addForm {
  margin-right: 260px;
}

input {
  border: 1px solid #ccc;
  padding: 4px;
  font-size: 1em;
  background-color: #F8F8F8;
}

input:focus {
  border-color: #555;
  background-color: #F5EFE6;
}

textarea {
  padding: 4px;
  font-size: 1em;
  width: 500px;
  background-color: #F8F8F8;
  border: 1px solid #ccc;
}

textarea:focus {
  border-color: #000;
  background-color: #F5EFE6;
}

.url_input {
  padding: 4px;
  font-size: 1.5em;
  width: 500px;
  background-color: #F8F8F8;
}

.title_input {
  padding: 4px;
  font-size: 1.2em;
  width: 500px;
  background-color: #F8F8F8;
}

#sortOptions {
  text-align: right;
  padding: 10px 0;
}

.tabContent {
  border: 1px solid #b0b0b0;
  border-top-style: none;
  padding-bottom: 10px;
}

/* begin css tabs */
/* Derived from: http://unraveled.com/publications/assets/css_tabs/ */

ul#tabnav {
  text-align: left;
  margin: 1em 0 0;
  font-size: 13px;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-weight: bold;
  border-bottom: 1px solid #b0b0b0;
  list-style-type: none;
  padding: 3px 10px 2px 10px;
}

ul#tabnav li {
  display: inline;
}

ul#tabnav li a {
  width: 150px;
  padding-left: 4px;
  padding-right: 4px;
}

div#all li.all,
div#links li.links,
div#posts li.posts,
div#tab4 li.tab4 {
  border-bottom: 1px solid #fff;
  background-color: #fff;
}

div#all li.all a,
div#links li.links a,
div#posts li.posts a,
div#tab4 li.tab4 a { /* settings for selected tab link */
  background-color: white; /* set selected tab background color as desired */
  color: #000; /* set selected tab link color as desired */
  position: relative;
  top: 1px;
  padding-top: 4px; /* must change with respect to padding (X) above and below */
}

ul#tabnav li a { /* settings for all tab links */
  padding: 3px 4px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
  border: 1px solid #b0b0b0; /* set border COLOR as desired; usually matches border color specified in #tabnav */
  background-color: #a3a3a3; /* set unselected tab background color as desired */
  color: #fbfbfb; /* set unselected tab link color as desired */
  margin-right: 0px; /* set additional spacing between tabs as desired */
  text-decoration: none;
  border-bottom: none;
}

ul#tabnav a:hover { /* settings for hover effect */
  background: #f5f5f5; /* set desired hover color */
  color: black;
}

/* end css tabs */

/* BUTTONS */
/* Credit: http://particletree.com/features/rediscovering-the-button-element/ */

a.button,
button,
input[type=submit] {
  display: block;
  float: left;
  margin: 0 7px 0 0;
  background-color: #f5f5f5;
  border: 1px solid #c3c3c3;
  border-top: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 100%;
  line-height: 130%;
  text-decoration: none;
  font-weight: bold;
  color: #565656;
  cursor: pointer;
  padding: 5px 10px 5px 7px;
  border-radius: 2px;
}

button,
input[type=submit] {
  width: auto;
  overflow: visible;
  padding: 4px 10px 3px 7px; /* IE6 */
}

button[type] {
  padding: 5px 10px 5px 7px; /* Firefox */
  line-height: 17px; /* Safari */
}

*:first-child+html button[type] {
  padding: 4px 10px 3px 7px; /* IE7 */
}

button img,
a.button img {
  margin: 0 3px -3px 0 !important;
  padding: 0;
  border: none;
  width: 16px;
  height: 16px;
}

/* STANDARD */

button:hover,
a.button:hover,
input[type=submit]:hover {
  background-color: #dff4ff;
  border: 1px solid #c2e1ef;
  color: #336699;
}

a.button:active,
input[type=submit]:active {
  background-color: #6299c5;
  border: 1px solid #6299c5;
  color: #fff;
}

/* POSITIVE */

a.button.positive,
button.positive {
  color: #529214;
}

a.button.positive:hover,
button.positive:hover {
  background-color: #E6EFC2;
  border: 1px solid #C6D880;
  color: #529214;
}

a.button.positive:active,
button.positive:active {
  background-color: #529214;
  border: 1px solid #529214;
  color: #fff;
}

/* NEGATIVE */

a.button.negative,
button.negative {
  color: #a12d4e;
}

a.button.negative:hover,
button.negative:hover {
  background: #fbe3e4;
  border: 1px solid #fbc2c4;
  color: #d12f19;
}

a.button.negative:active {
  background-color: #d12f19;
  border: 1px solid #d12f19;
  color: #fff;
}

/* BUTTONS END */

/** Login Form **/

#loginForm {
  width: 350px;
  text-align: center;
  border: 1px solid #eee;
  padding: 20px;
  margin: 0 auto;
  background: #edf3f5;
}

#loginForm label {
  width: 190px;
  float: left;
  margin-top: 5px;
  text-align: left;
}

#loginForm p {
  text-align: left;
}

#loginFormFooter {
  text-align: center;
  width: 350px;
  margin: 20px auto;
}

#facebook_signin_bt {
  display: inline-block;
  width: 150px;
  height: 23px;
  background: 0px -24px url('../images/facebook_signin.png');
}

#facebook_signin_bt:hover {
  background: 0px 0px url('../images/facebook_signin.png');
}

#facebook_signin_bt:active {
  background: 0px 23px url('../images/facebook_signin.png');
}

/* Generated CSS from http://spiffycorners.com for tag cloud.
Don't edit here, instead, regenerate, and copy paste. */

.tagCloud {
  display:block
}
.tagCloud * {
  display: block;
  height: 1px;
  overflow: hidden;
  font-size: .01em;
  background: #eee;
}
.tagCloud1{
  margin-left:3px;
  margin-right:3px;
  padding-left:1px;
  padding-right:1px;
  border-left:1px solid #fafaf8;
  border-right:1px solid #fafaf8;
  background:#eee}
.tagCloud2{
  margin-left:1px;
  margin-right:1px;
  padding-right:1px;
  padding-left:1px;
  border-left:1px solid #fdfefd;
  border-right:1px solid #fdfefd;
  background:#eee}
.tagCloud3{
  margin-left:1px;
  margin-right:1px;
  border-left:1px solid #f6f6f2;
  border-right:1px solid #f6f6f2;}
.tagCloud4{
  border-left:1px solid #fafaf8;
  border-right:1px solid #fafaf8}
.tagCloud5{
  border-left:1px solid #f6f7f3;
  border-right:1px solid #f6f7f3}
.tagCloudfg{
  background:#eee}
/* Generated Code End */