body { color: #333;
	background: #fff url(/images/tilted_logo.png) no-repeat;
}

body, p, ol, ul, td {
  font-family: "Lucida Grande", helvetica, arial, verdana, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

/*Removing the ugly border from all images ~SA */
:link img, img {
  border: none;
}

.topicListItem {
	color: #656565;
	background-color: #e5effd;
	margin-bottom: 10px;
	padding: 0px;
}

.topicListItem .topic {
	border: 1px solid #5588dc;
	font-size: 16px;
	padding: 5px;
	background-color: #4fbafd;
	-webkit-box-shadow: #4fbafd 0px 0px 5px;
	margin-bottom: 8px;
	margin-top: 8px;
	color: white;
	opacity: 0.95;
	font-weight: bold;
}

.topicListItem .topic:hover {
	background-color: #47adec;	
}

.topicListItem .description {
	padding: 0 5px 5px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
	color: #0066CC;
	text-decoration: none;
}
a:visited {
	color: #0066cc;
}
a:hover {
	color: #990000;
}

a.negative {
	color: #df0e0f;
	font-weight: bold;
}

a.negative:hover {
	color: #f97d4c;
}
a.bookmarklet {
	background-color: #d9d9d9;
	border: 2px solid #888;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 2px 5px;
}

.notice {
	color: #2ea711;
	background-color: #ecfee4;
	padding: 5px 10px;
	border: 1px solid #188a09;
	opacity: 0.88;
}

.alert {
	color: #b90d14;
	background-color: #fce6d9;
	padding: 5px 10px;
	border: 1px solid #7b0c10;
	opacity: 0.94;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#header {
	height: 44px;
	min-width:790px;	
}

#headerFloater {
	position: absolute;
	clear: both;
	top: 0;
	left: 0;
}
#userInfo {
	font-size: 11px;
	width: 300;
	float:  right;
	text-align: right;
	background-color: #f4f5e9;
	border: 1px solid #e5e2ce;
	padding: 5px 10px;
	margin-right: 5px;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

.storyMeta {
	background: #e8e8e8;
	margin-left: -5px;
	margin-right: -5px;
	padding: 5px 0 0;
	margin-top: 10px;
}

.storyItemEdit {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	width: 100px;
	clear: left;
	float: right;
	margin: 0px;
	padding: 0px;
	display: none;
	text-align: right;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#storyContent {
	border: 4px solid #e8e8e8;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 0px;
}

span.storyTitle {
	font-size: 26px;
	font-weight: normal;
	font-style: normal;
	line-height: 110%;
}

div.storyHeaderMain {
	margin-left: 6px;
}

.tagCloudContent {
	padding: 5px;
	text-align: center;
}

/* Generated CSS from http://spiffycorners.com for tag cloud.
Don't edit here, instead, regenerate, and copy paste. */

.tagCloud{display:block}
.tagCloud *{
  display:block;
  height:1px;
  overflow:hidden;
  font-size:.01em;
  background:#F4F5F0}
.tagCloud1{
  margin-left:3px;
  margin-right:3px;
  padding-left:1px;
  padding-right:1px;
  border-left:1px solid #fafaf8;
  border-right:1px solid #fafaf8;
  background:#f6f7f3}
.tagCloud2{
  margin-left:1px;
  margin-right:1px;
  padding-right:1px;
  padding-left:1px;
  border-left:1px solid #fdfefd;
  border-right:1px solid #fdfefd;
  background:#f6f6f2}
.tagCloud3{
  margin-left:1px;
  margin-right:1px;
  border-left:1px solid #f6f6f2;
  border-right:1px solid #f6f6f2;}
.tagCloud4{
  border-left:1px solid #fafaf8;
  border-right:1px solid #fafaf8}
.tagCloud5{
  border-left:1px solid #f6f7f3;
  border-right:1px solid #f6f7f3}
.tagCloudfg{
  background:#F4F5F0}
/* Generated Code End */


div.storyHeaderTagList {
	padding-top: 5px;
}

.storyHeaderLink a{
	color: #919191;
	font-size: 10px;
}

.storyHeaderLink a:hover{
	color: #990000;
}

.storyDescription {
	clear: left;
	padding-top: 15px;
}

div.storyHeaer {
	margin-top: 5px;	
}

.stories {
	margin-left: 10px;
	margin-right: 10px;
	margin-top:  18px;
	margin-bottom: 4px;
	border-bottom: 1px dashed #CCCCCC;
}

.storyItem {
	border-top: 1px dashed #CCCCCC;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0px;
}

.storyItemMeta {
	font-size: 10px;
	clear: none;
	color: #646464;
}

.storyItemMeta a {
	color: #646464;
}

.storyItemMeta a:hover {
	color: #990000;
}

.storyItem:hover {

	background-color: #f8f8f8;	
}

.storyItemVotePanel {
	float:left;
	width:60px;
}

.storyItemContentPanel {
	margin-left:64px;
}


#contentPanel {
	margin-right:310px;
	clear:none;
	min-width:400px;
}

#rightPanel {
	width:300px;
	float:right;
	clear:none;
	vertical-align:top; 
}

div#footer{
  margin: 5px;
  clear:both;
}

#content {
min-width:790px;
}


.tag a a:visited a:hover {
	color: #696969;
}

.right-top {
	float: right;
	clear: none;
	position: relative;
	right: 0;
	top: 0;
}


.tag {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #696969;
	background-color: #eee;
	padding-left:4px;
	padding-right:4px;
	padding-top:2px;
	padding-bottom:2px;
	width:auto;
	margin-top: 2px;
	margin-right: 4px;
	margin-bottom: 2px;
}

a.tagLink, a.tagLink:hover, a.tagLink:visited {
	color: #696969;	
}

.tag:hover {
	background-color: #dfdfef;
}
/*a.whiteLink {
	color: #FFFFFF;
}*/

.sortTab {
	margin: 6px;
	padding: 6px;
}

.sortTab:hover {
	border-bottom: 4px solid #b9cefe;	
}

.sortTab a a:visited{
	font-size: 12px;
	font-weight: bold;
	color: #284bce;
}

.sortTabSelected {
	border-bottom: 4px solid #345efd;	
	color: #333333;
	margin: 6px;
	padding: 6px;

}

.pagination {
	text-align: right;
	margin-right: 10px;
	color: #595959;
	font-size: 10px;
}

.userProfileBanner {
	border: 1px solid #fff;
	font-size: 16px;
	padding: 5px;
	background-color: #f3f3f3;
	-webkit-box-shadow: #c7c7c7 0px 0px 5px;
	margin-bottom: 8px;
	margin-top: 8px;
	color: #353535;
	opacity: 0.95;	
}

.formTable tr{
	margin-top: 4px;
}

.fieldLabel {
	text-align: right;
	vertical-align: top;
	padding-top: 10px;
	margin-top: 14px;
}

.fieldMeta {
	padding-left: 2px;
	color: #575757;
	font-size: 10px;
}

.fieldUneditable {
	font-weight: bold;
	font-size: 20px;
	padding-top: 5px;
}

td.fieldLabel {
	width: 170px;
}

.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }

.headerTitle span{
	border: 1px solid #5588dc;
	font-size: 16px;
	padding: 5px;
	background-color: #4fbafd;
	-webkit-box-shadow: #4fbafd 0px 0px 5px;
	margin-bottom: 8px;
	margin-top: 8px;
	color: white;
	opacity: 0.95;	
	
}

h1 {
	border: 1px solid #5588dc;
	font-size: 16px;
	padding: 5px;
	background-color: #4fbafd;
	-webkit-box-shadow: #4fbafd 0px 0px 5px;
	margin-bottom: 8px;
	margin-top: 8px;
	color: white;
	opacity: 0.95;
	margin-right: 5px;
}

h1 a, h1 a:visited {
	color: white;
}

h1.bluegray {
	border: 1px solid #82879b;
	background-color: #b0b7c8;
	-webkit-box-shadow: #82879b 0px 0px 5px;
	
}

h1.green {
	border: 1px solid #20ad46;
	background-color: #2bdd59;
	-webkit-box-shadow: #20ad46 0px 0px 5px;
	
}

h1.orange {
	border: 1px solid #dd8711;
	background-color: #f5af1c;
	-webkit-box-shadow: #f5af1c 0px 0px 5px;	
}

h1.white {
	border: 1px solid #cdcdcd;
	background-color: #fff;
	-webkit-box-shadow: #cdcdcd 0px 0px 5px;
	color: #419ad1;	
}

h1.white a, h1.white a:visited {
	color: #419ad1;
}

h1.white:hover {
	background-color: #f0f0f0;
}

h1.topic:hover {
	background-color: #47adec;	
}

h3 {
	margin: 0px 0px 0;
	padding: 0px 0px 3px;
}

h3 span{
	font-size: 11px;
	margin: 0 0 -2px;
	padding-left: 10px;
	font-weight: normal;
	font-style: normal;
	padding-bottom: 3px;
}

h2 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #333333;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	padding: 3px;
	margin-top: 0px;
}

h4 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	background-color: #F0F0F0;
}


blockquote {
color: rgb(102, 102, 102);
display: block;
font-family: Georgia;
font-style: italic;
margin-bottom: 20px;
margin-left: 30px;
margin-right: 30px;
margin-top: 20px;
}

.commentContent {
	border: 3px solid #e8e8e8;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 0px;
	margin-top: 14px;
}

.commentMeta {
	background: #e8e8e8;
	margin-left: -5px;
	margin-right: -5px;
	padding: 5px 0 0;
	margin-top: 10px;
}

.comment {
color: rgb(102, 102, 102);
display: block;
font-family: Georgia;
margin-bottom: 4px;
margin-left: 5px;
margin-right: 10px;
margin-top: 4px;

}

.commentInfo {
	font-size: 12px;
	color: #999999;
}

.activityItem {
	font-size: 12px;
	margin-top: 3px;
	margin-bottom: 3px;
}

.voteCount {
	font-family: "Courier New", Courier, monospace;
	font-size: 24px;
	font-weight: bold;
	color: #003366;
	background-color: #eee;
	text-align: center;
	vertical-align: middle;
	padding: 6px;

	margin: 3px 3px 0;

}

.voteButton {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #DBF0DC;
	padding:3px;

	text-align: center;
	vertical-align: middle;
	height: 20px;
	margin: 0 3px 2px;
	border-top: 1px solid #d0d0d0;
}

.voteButton:hover {
	background-color: #b4efba;
}

.unVoteButton {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	background-color: #F0E5CD;
	margin-right: 3px;
	margin-bottom: 2px;
	margin-left: 3px;
	padding:3px;
	text-align: center;
	vertical-align: middle;
	height: 20px;	
	border-top: 1px solid #d0d0d0;	
}

.unVoteButton:hover {
	background-color: #eda69f;	
}

.addFormRightPanel {
	float:right;
	width:250px;
	border: 1px solid #9C9F9A;
	padding:6px;
}

.addForm {
	margin-right:260px;
}

input {  
    border: 1px solid #888;  
    padding: 4px;  
    font-size: 1em;  
    background-color: #F8F8F8;  
}

.url_input {  
    border: 2px solid #888;  
    padding: 4px;  
    font-size: 1.5em;  
    width: 500px;
	background-color: #F8F8F8;  
}

.title_input {  
    border: 2px solid #888;  
    padding: 4px;  
    font-size: 1.2em;
    width: 500px;	
    background-color: #F8F8F8;  
}

textarea {  
    border: 2px solid #888;  
    padding: 4px;  
    font-size: 1em;
    width: 500px;	
    background-color: #F8F8F8;  
}

textarea:focus {  
    border-color: #000;  
    background-color: #F5EFE6;  
}


input:focus {  
    border-color: #000;  
    background-color: #F5EFE6;  
}

#sortOptions {
	text-align: right;
	padding-top: 10px;
}

.tabContent {
	border: 1px solid #b0b0b0;
	border-top-style: none;
	padding-bottom: 10px;
}

/* begin css tabs */
/* Derived from: http://unraveled.com/publications/assets/css_tabs/ */

ul#tabnav { /* general settings */
	text-align: left; /* set to left, right or center */
	margin: 1em 0 0; /* set margins as desired */
	font: bold 13px verdana, arial, sans-serif; /* set font as desired */
	border-bottom: 1px solid #b0b0b0; /* set border COLOR as desired */
	list-style-type: none;
	padding: 3px 10px 3px 10px; /* THIRD number must change with respect to padding-top (X) below */
}

ul#tabnav li { /* do not change */
	display: inline;
}

/* For increasing tab width ~SA */
ul#tabnav li a {
	width: 100px;
	padding-left: 4px;
	padding-right: 4px;	
}

div#all li.all, div#links li.links, div#posts li.posts, div#tab4 li.tab4 { /* settings for selected tab */
	border-bottom: 1px solid #fff; /* set border color to page background color */
	/*background-color: #a2cfef;*/ /* set background color to match above border color */
}

div#all li.all a, div#links li.links a, div#posts li.posts a, div#tab4 li.tab4 a { /* settings for selected tab link */
	background-color: white; /* set selected tab background color as desired */
	color: #000; /* set selected tab link color as desired */
	position: relative;
	top: 1px;
	padding-top: 4px; /* must change with respect to padding (X) above and below */
}

ul#tabnav li a { /* settings for all tab links */
	padding: 3px 4px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
	border: 1px solid #b0b0b0; /* set border COLOR as desired; usually matches border color specified in #tabnav */
	background-color: #a3a3a3; /* set unselected tab background color as desired */
	color: #fbfbfb; /* set unselected tab link color as desired */
	margin-right: 0px; /* set additional spacing between tabs as desired */
	text-decoration: none;
	border-bottom: none;
}

ul#tabnav a:hover { /* settings for hover effect */
	background: #f5f5f5; /* set desired hover color */
	color: black;
}

/* end css tabs */

/* BUTTONS */
/* Credit: http://particletree.com/features/rediscovering-the-button-element/ */

.buttons a, .buttons button{
    display:block;
    float:left;
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border: 1px solid #c3c3c3;
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:100%;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}
.buttons button{
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}
.buttons button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
.buttons button img, .buttons a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}

/* STANDARD */

button:hover, .buttons a:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons a:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

/* POSITIVE */

button.positive, .buttons a.positive{
    color:#529214;
}
.buttons a.positive:hover, button.positive:hover{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}
.buttons a.positive:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}

/* NEGATIVE */

.buttons a.negative, button.negative{
    color:#d12f19;
}
.buttons a.negative:hover, button.negative:hover{
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}
.buttons a.negative:active{
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}

/* BUTTONS END */

