// The entire site's CSS, imports other *.less files

@import "sidebar.less";
@import "comments.less";
@import "carousel.less";
@import "footer.less";

@import "topic.less";
@import "story.less";
@import "user.less";
@import "discussion.less";

body {
  padding-top: 50px;
  h4 {
    margin-bottom : 10px;
  }
}

.content {
  .span11,
  .span12 {
    border-right: 1px solid #eee;
    padding-right: 15px;
  }
  .span5 {
    width: 260px;
  }
  .sidebar {
    width: 200px !important;
  }
}

h5 {
  line-height: 20px;
}

// Favicons of sites
.favicon {
  float: left;
  margin-top: 2px;
  margin-right: 2px;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
  img {
    height: 12px;
    width: 12px;
  }
}

// Small button
.small-btn {
  font-size: 11px !important;
  padding: 0px 3px !important;
  font-weight: normal !important;
}

// OR separator between different service logins and site's login system
#OR {
  font-size: 20px;
  font-style: italic;
  text-align: center;
}

// Facebook Sign In button
#facebook-btn {
  display: inline-block;
  width: 150px;
  height: 23px;
  background: 0px -24px url('images/facebook_signin.png');
}