// The entire site's CSS, imports other *.less files

@import "sidebar.less";
@import "comments.less";
@import "carousel.less";
@import "footer.less";

@import "topic.less";
@import "story.less";
@import "user.less";
@import "discussion.less";

body {
  padding-top: 50px;
  h4 {
    margin-bottom : 10px;
  }
}

.content {
  .span11,
  .span12 {
    border-right: 1px solid #eee;
    padding-right: 15px;
  }
  .span5 {
    width: 260px;
  }
  .sidebar {
    width: 200px !important;
  }
}

h5 {
  line-height: 20px;
}

// Favicons of sites
.favicon {
  float: left;
  margin-top: 2px;
  margin-right: 2px;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  .user-avatar-icon {
    height: 12px;
    width: 12px;
    margin-right: 3px;
  }

  .favicon-icon {
    height: 12px;
    width: 12px;
  }
}

// OR separator between different service logins and site's login system
#OR {
  font-size: 20px;
  font-style: italic;
  text-align: center;
}

// Facebook Sign In button
#facebook-btn {
  display: inline-block;
  width: 150px;
  height: 23px;
  background: 0px -24px url('images/facebook_signin.png');
}

.important {
    color: #c97979;
}

.btn-group {
  display: inline-block;

  .btn.dropdown-toggle {
    margin-left: -6px;
  }

  .btn-small.dropdown-toggle {
    margin-left: -1px !important;
    padding: 2px 5px;
  }
}

.btn {
  .caret {
    margin-top: 8px;
  }
}

.btn-small {
  font-size: 12px;
  padding: 2px 5px;

  .caret {
    margin-top: 6px;
  }
}

.slideshow {
  margin-bottom: 5px;
  height: 400px;
  a {
    text-align: center;
    width: 100%;
  }
  img {
    border: 5px solid #fff;
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    max-height: 400px;
  }
}

h3.title {
  margin-bottom: 20px;
  padding-bottom: 7px;
  border-bottom: 1px solid #ddd;
  font-size: 22px;
}

.breadcrumb {
  font-size: 12px;
  padding: 4px 7px;
  color: #888;
  a {
    text-decoration: underline;
    color: #888;
  }
}

.modal {
  form {
    margin-bottom: 0px;
  }
}

.big-modal {
  width: 60%;
  left: 40%;
  .story-content {
    /*max-height: 200px;
    overflow: scroll;*/
  }

  .span8, .comment-body {
    width: 95%;
  }

  .span6 {
    width: 90%;
  }
}