// Individual Story CSS

.story {
  padding-right: 20px;

  .story-image {
    text-align: center;
    padding: 20px 0;
  }

  .story-meta {
    clear: both;
    font-weight: 300;
    float: left;
    padding: 5px 0 20px 0;
    .favicon {
      margin-top: 2px;
    }
  }

  .story-title {
    float: left;
    width: 96%;
  }

  .story-footer {
    color: #888;
    font-size: 12px;
    font-style: italic;
  }
}

.story-sidebar {
  margin-left: 20px;
  padding-left: 20px;
}

.modal {
    .story-meta {
      padding-top: 0px;
      margin-top: -10px;
    }
}

.twitter-share-button {
  margin-bottom: -3px !important;
  width: 90px !important;
}

#___plusone_0 > iframe {
  margin-top: 3px !important;
}

.fb_like > iframe {
  width: 60px !important;
}
