// Topic Pages CSS

// Meta fields for story items on topic pages
.story-item {
  .story-item-meta {
    color: #888;
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
  }
}

.fb-item {
  width: 400px; 
  border: 1px solid #eee; 
  margin: 10px; 
  padding: 10px;

  .fb-image {
    padding-right: 5px;
    padding-left: 10px;
    text-align:center;
  }

  blockquote {
    font-size: 15px; 
    color: #888; 
    font-family: Georgia; 
    line-height: 20px;
  }
}

.fb-status {

}

.fb-link {

}

.fb-photo {

}

#topic-activity {
  margin-bottom: 20px;

  hr {
    margin: 8px;
  }

  .activity-item {
    padding: 5px;
  }

  .activity-at {
    color: #888;
  }
}