<div class="row-fluid">
  <div class="span8 topic-body">
  </div>

  <div class="span3 sidebar hidden-phone">
    <%= render :partial => "partials/topic/sidebar",
      :locals => {
        :stories => stories,
        :tags => tags,
        :topic => (defined? topic) ? topic : nil,
        :new_users => new_users,
        :active_topics => (defined? active_topics) ? active_topics : nil
      }
    %>
  </div>

  <%= will_paginate stories, :renderer => PaginationListLinkRenderer %>
</div>
