<div class="row-fluid topic-body">
  <div class="span9 topic-stories" style="width: 70%">
  </div>

  <div class="span2 sidebar hidden-phone" style="margin-left: 0px; min-width: 300px; margin-top: 10px;">
    <%= render :partial => "partials/topic/sidebar",
      :locals => {
        :stories => stories,
        :tags => tags,
        :topic => (defined? topic) ? topic : nil,
        :new_users => new_users,
        :active_topics => (defined? active_topics) ? active_topics : nil
      }
    %>
  </div>
</div>
