<% sum_of_distributions = 0 %>

<% topic.topic_keywords.each do |keyword| %>
  <% sum_of_distributions = sum_of_distributions + keyword.distribution %>
<% end %>

<% topic.topic_keywords.each do |keyword| %>
  <% weight = ((keyword.distribution / sum_of_distributions) * 100).to_int %>
  <% keyword_size = (weight + 15).to_s %>
  <span class='topic-keyword'
    style='font-size: <%=keyword_size %>px'>
    <%= link_to keyword.name, '/search?query=' + keyword.name,
      :class => 'has-tooltip',
      'data-placement' => 'top',
      'data-delay' => '300',
      :title => "Search for " + keyword.name
    %>
  </span>
<% end %>
