<h2>Change Password</h2>
<hr>
<%= error_messages_for :user %>

<%= form_for(@user, :html => {:class => "form-horizontal"}) do |f| -%>
  <div class="control-group">
    <label class="control-label" for="password">New Password</label>
    <div class="controls">
      <%= f.password_field :password %></p>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="password_confirmation">Confirm New Password</label>
    <div class="controls">
      <%= f.password_field :password_confirmation %>
    </div>
  </div>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary">
      Change Password
    </button>
  </div>
<% end -%>