<h1 class="bluegray">Forgot Password</h1>
<p>If you can't remember your password, enter your email id here, and we will send you a reset link by email. That link would let you reset your Slurp! password and get you back into the system in a jiffy!</p>
Your Email:<%= form_tag url_for(:controller => 'users', :action => 'send_reset')%>
  <input type="text" name="email" value="" id="email">
<p><%= submit_tag 'Send me the reset password link' %></p>
</form>