<h1>Forgot Password</h1>
<p>If you can't remember your password, enter your email id here, and we will send you a reset link by email. That link would let you reset your Colloki password and get you back into the system in a jiffy!</p>
<%= form_tag url_for(:controller => 'users', :action => 'send_reset') do %>
  <div class="clearfix">
    <label>Email</label>
    <div class="input">
      <%= text_field_tag 'email' %>
    </div>
  </div>
  <div class="actions">
    <%= submit_tag 'Send me the reset password link', :class => "btn info" %>
  </div>
<% end %>