<h2>Forgot Password</h2>
<hr>

<p>
  If you can't remember your password, please enter your email here, 
  and we will send you a password reset link by email. 
</p>
<br>
<%= form_tag url_for(:controller => 'users', :action => 'send_reset'), :class => "form-horizontal" do %>
  <div class="control-group">
    <label class="control-label">Email</label>
    <div class="controls">
      <%= text_field_tag 'email' %>
    </div>
  </div>
  
  <div class="form-actions">
    <button class="btn btn-primary" type="submit">
      Send me the password reset link
    </button>
  </div>
<% end %>