<% if logged_in? %>
<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
     <th>Stories</th>
    <th />
  </tr>
<% for user in @users %>
<%if user.activated_at != nil %>
  <tr>
    <td><%=h user.login %> </td>
    <td><%= user.stories.size %></td>
    <td><%= link_to 'Show stories', user %></td>
  </tr>
<% end %>
<% end %>
</table>

<br>
<% end %>
