# config/config.yml

development:
  
  # Topic modeling source
  TM_url                      : "http://grumpy.cs.vt.edu/vts_topic_modeling/"
  TM_topics_path              : "TopicsTerms.csv"
  TM_document_topic_path      : "DocumentTopicsDist.csv"
  TM_stories_path             : "stories.csv"

  ####################

  # Facebook

  # Facebook App Id
  fb_app_id: "<app_id>"

  # Facebook App Secret Key
  fb_app_secret_key: "<app_secret_key>"
  
  # Permanent access key for a facebook user with permissions:
  # offline_access
  # manage_pages
  # publish_streams
  #
  # The Facebook User should be an admin of the Facebook Page for this App
  #
  # And the permissions are taken with respect to the 
  # associated Facebook App with this Rails App
  #
  fb_access_key: "<access_key>"

  # ID of Facebook Page for this App
  fb_page_id: "<page_id>"

  ####################

  # Twitter

  # Twitter App Consumer Key
  twitter_consumer_key: "<consumer_key>"
  
  # Twitter App Secret Key
  twitter_consumer_secret: "<consumer_secret>"  

  ####################  

