# config/facebook.yml
development:
  # Facebook App ID
  app_id: "<app_id>"

  # Facebook App Secret Key
  app_secret_key: "<app_secret_key>"
  
  # Permanent access key for a facebook user with permissions:
  # offline_access
  # manage_pages
  # publish_streams
  #
  # The Facebook User should be an admin of the Facebook Page for this App
  #
  # And the permissions are taken with respect to the 
  # associated Facebook App with this Rails App
  #
  access_key: "<access_key>"

  # ID of Facebook Page for this App
  page_id: "<page_id>"