<div id="comments<%= story.id %>">
  <h4 class="comment-count"></h4>
  <div class="comment-entries"></div>
  <h4>Post a comment</h4>
  <% if logged_in? %>
    <%= text_area "comment", "body", :class => "span12 comment-body", :rows => "6" %>
    <br>
    <%= submit_tag "Post Comment", :class => "btn btn-small btn-primary add-comment" %>
  <% else %>
    You need to be signed in to comment.<br><br>
    <%= link_to "Log In", login_url, :class => "btn-primary btn" %>
  <% end %>
</div>
