<div class='btn-group'>
  <a class='btn btn-info btn-mini' href='#'>
    Edit
  </a>
  <a class='btn btn-info btn-mini dropdown-toggle' data-toggle='dropdown' href='#'>
    <span class='caret'></span>
  </a>
  <ul class='dropdown-menu'>
    <li>
      <%= link_to "Delete", story, :method => :delete %>
    </li>
  </ul>
</div>
