<div id="story-likers">
  <% if users.count != 0 %>
    <h4>
      Liked by
    </h4>
    <% for user in users %>
      <%= link_to image_tag(user.get_image_url), "/users/#{user.login}",
        :id => "liker#{user.id}",
        :class => "story-liker has-tooltip",
        'data-placement' => "bottom",
        :title => user.login
      %>
    <% end %>
  <% end %>
</div>
<% if users.count != 0 %>
  <hr>
<% end %>
