<ul title="Results for <%= params[:query] %>">
	<% if @stories != nil && @stories.size > 0 %>
		<%= render :partial => 'partials/story_list' %>
	<% else %>
		<li>No matching stories found</li>
	<% end %>
</ul>



