<% if (!liked_by_exists && count == 1) { %>
  <h4>Liked By</h4>
<% } %>
<a href="/users/<%= user_id %>" title="<%= user_login %>" class="story-liker" id="liker<%= user_id %>">
  <img alt="Gravatar" src="http://gravatar.com/avatar/<%= user_email_hash %>?size=24">
</a>