<h4>Sources</h4>

<div class="row-fluid"><input name="source" class="source" type="radio" data-value="Blacksburg Electronic Village"/> Blacksburg Electronic Village</div>
<div class="row-fluid"><input name="source" class="source" type="radio" data-value="Blue Ridge Muse"/> Blue Ridge Muse</div>
<div class="row-fluid"><input name="source" class="source" type="radio" data-value="Collegiate Times"/> Collegiate Times</div>
<div class="row-fluid"><input name="source" class="source" type="radio" data-value="Depotdazed"/> Depotdazed</div>
<div class="row-fluid"><input name="source" class="source" type="radio" data-value="Montgomery County VA"/> Montgomery County VA</div>
<div class="row-fluid"><input name="source" class="source" type="radio" data-value="NRV News"/> NRV News</div>
<div class="row-fluid"><input name="source" class="source" type="radio" data-value="New River Voice"/> New River Voice</div>
<div class="row-fluid"><input name="source" class="source" type="radio" data-value="Our Valley"/> Our Valley</div>
<div class="row-fluid"><input name="source" class="source" type="radio" data-value="Progress and Main" /> Progress and Main</div>
<div class="row-fluid"><input name="source" class="source" type="radio" data-value="Southwest Virginia Blog"/> Southwest Virginia Democrats</div>
<div class="row-fluid"><input name="source" class="source" type="radio" data-value="Town of Blacksburg"/> Town of Blacksburg</div>
<div class="row-fluid"><input name="source" class="source" type="radio" data-value="The Burgs Blog"/> The Burgs Blog</div>
<div class="row-fluid"><input name="source" class="source" type="radio" data-value="The Southwest Times"/> The Southwest Times</div>
<div class="row-fluid"><input name="source" class="source" type="radio" data-value="Virginia Tech News"/> Virginia Tech News</div>
