<h1>About</h1>

<%=render :partial => "partials/second_order_header", :locals => { :style => "bluegray", :title => "About Slurp!" }%>

<p>Colloki is a web application for small communities to engage in conversations on local topics. Think of it as Forums 2.0. It's still a prototype at this stage, and we are adding new features everyday. It would be immensely helpful for us if you play with the tool and provide us your thoughts, questions, suggestions, critique and feature requests. Send us an email.

<p>
  <strong>Colloki</strong> is an open source project being developed at Virginia Tech for use by local communities. Read more about Colloki <a href="http://diggov.cs.vt.edu/node/23">here</a>.
</p>