<%= render :partial => "partials/page_header", :locals => {:title => "Research"} %>
<p>
  Virtual Town Square builds on research in social computing that has been supported by various grants from the National Science Foundation (NSF), including the Digital Government Program (2004-2008), and most recently, the Social-Computational Systems (SoCS) Program.
</p>

<p>
  Our SoSC funded project (2011-2014) is entitled <strong>Participation on the Town Square in the Era of Web 2.0</strong>. It is led by our research group at the <a href="http://hci.vt.edu/">Center for Human-Computer Interaction</a> in the <a href="http://www.cs.vt.edu/">Department of Computer Science</a> and the <a href="http://www.comm.vt.edu/">Department of Communication Studies</a> at <a href='http://vt.edu'>Virginia Tech</a>.
</p>

<p>
  <h4>Principal Investigators</h4>
  <a href='http://www.cs.vt.edu//user/89'>Dr. Andrea Kavanaugh</a>, <a href='http://www.comm.vt.edu/People_in_Comm/Faculty_Bios/tedesco_bio.html'>Dr. John Tedesco</a>, <a href='http://perez.cs.vt.edu/'>Dr. Manuel Pérez-Quiñones</a> and <a href='http://people.cs.vt.edu/~ramakris/'>Dr. Naren Ramakrishnan</a>
</p>

<p>
  <h4>Abstract</h4>
  Collective decision-making based on opportunities to stay informed, reflect, debate, and consider counter evidence is the foundation of democratic life. These opportunities are undermined by a strange combination of diminishing (or extinct) local print media, i.e., local newspapers, and by its obverse, a plethora of information and communication opportunities that are scattered across numerous disparate websites and social software systems.
  <br><br>
  We propose to leverage social software together with network analysis and data mining to harness and model local online resources and social interactions to support and foster broader and more diverse civic participation in America’s communities. We envision a single unified and comprehensive aggregator site – what we are calling a Virtual Town Square (VTS) – with locally relevant online content and social interaction generated elsewhere by citizens and organizations, as well as interaction and discussion directly on the site. We propose to conduct computational analyses of data derived from VTS to identify and analyze implicit social and information networks, and to track and model the flow of information throughout the community.
  <br><br>
  <a href="http://diggov.cs.vt.edu/project-summary">View complete project summary</a>

</p>
<h4>Publications</h4>
<ul>
  <li>
    <a href='http://dl.acm.org/citation.cfm?id=1979742.1979818&coll=DL&dl=GUIDE&CFID=67817564&CFTOKEN=73155691'>Evaluating software for communities using social affordances</a>, Ben Hanrahan, Sameer Ahuja, Manuel Perez-Quinones, Andrea Kavanaugh, CHI EA '11: Proceedings of the 2011 annual conference extended abstracts on Human factors in computing systems
  </li>
  <li>
    <a href='http://dl.acm.org/citation.cfm?id=1748111.1748117&coll=DL&dl=GUIDE&CFID=67817564&CFTOKEN=73155691'>Leveraging Social Networks to Embed Trust in Rideshare Programs</a>, Vineeta Chaube, Andrea L. Kavanaugh, Manuel A. Perez-Quinones, HICSS '10 Proceedings of the 2010 43rd Hawaii International Conference on System Sciences
  </li>
  <li>
    <a href="http://dl.acm.org/citation.cfm?id=1146598.1146628&coll=DL&dl=GUIDE&CFID=67817564&CFTOKEN=73155691">When opinion leaders blog: new forms of citizen interaction</a>, Andrea Kavanaugh, Than Than Zin, John M. Carroll, Joseph Schmitz, Manuel Pérez-Quiñones, Philip Isenhour, dg.o '06 Proceedings of the 2006 international conference on Digital government research
  </li>
  <li>
    <a href="http://dl.acm.org/citation.cfm?id=1328057.1328099&coll=DL&dl=GUIDE&CFID=67817564&CFTOKEN=73155691">Toward a model of political participation among young adults: the role of local groups and ICT use</a>, B. Joon Kim, Andrea Kavanaugh, Manuel Pérez-Quiñones, ICEGOV '07: Proceedings of the 1st international conference on Theory and practice of electronic governance
  </li>
  <li>
    <a href="http://dl.acm.org/citation.cfm?id=1146598.1146725&coll=DL&dl=GUIDE&CFID=67817564&CFTOKEN=73155691">Modeling online participation in local governance</a>, Andrea Kavanaugh, Manuel Pérez-Quiñones, Daniel Dunlap, Philip Isenhour, dg.o '06: Proceedings of the 2006 international conference on Digital government research
  </li>
  <li>
    <a href="http://dl.acm.org/citation.cfm?id=1248460.1248536&coll=DL&dl=GUIDE&CFID=67817564&CFTOKEN=73155691">VizBlog: a discovery tool for the blogosphere</a>, Manuel A. Pérez-Quiñones, Andrea Kavanaugh, Uma Murthy, Philip Isenhour, Jaideep Godara, Spencer Lee, Alain Fabian, Proceedings of the 8th annual international conference on Digital government research: bridging disciplines & domains
  </li>
  <li>
    <a href="http://dl.acm.org/citation.cfm?id=1556176.1556233&coll=DL&dl=GUIDE&CFID=67817564&CFTOKEN=73155691">Local conversations 2.0</a>, Sameer Ahuja, Manuel A. Pérez-Quiñones, Andrea Kavanaugh, dg.o '09: Proceedings of the 10th Annual International Conference on Digital Government Research: Social Networks: Making Connections between Citizens, Data and Government
  </li>
  <li>
    <a href="http://dl.acm.org/citation.cfm?id=1367832.1367859&coll=DL&dl=GUIDE&CFID=67817564&CFTOKEN=73155691">Deliberation in the wild: a visualization tool for blog discovery and citizen-to-citizen participation</a>, Candida Tauro, Sameer Ahuja, Manuel A. Pérez-Quiñones, Andrea Kavanaugh, Philip Isenhour, dg.o '08: Proceedings of the 2008 international conference on Digital government research
  </li>
  <li>
    <a href="http://diggov.cs.vt.edu/node/23">Colloki: Rethinking local conversations on the web</a>, Ahuja, S., Pérez-Quiñones M.A., Kavanaugh, A., Tauro, C., Kim, B.J., Directions and Implications of Advanced Computing: Conference on Online Deliberation, 26/06/2008, University of California, Berkeley, (2008)
  </li>
</ul>
</p>
<p>
  <h4>History</h4>
  This project was known as Colloki in a previous incarnation.
</p>
