<div class="breadcrumb">About</div>
<p>
  Virtual Town Square is a place to learn and discuss local issues with other Blacksburg and Montgomery County residents.
</p>
<hr>
<p>
  <h4>What's happening in your town?</h4>
  We find locally relevant news and discussions happening across the web everyday, so you don't have to! This can be the single place for you to catch up on local developments.
</p>
<hr>
<p>
  <h4>Have your voice heard</h4>
  You can post new stories on the site. You can also comment on stories and like them. 
</p>
<hr>
<p>
  <h4>Are you a local blogger or publisher?</h4>
  Let us know! We'll add your blog to our list of news and discussion sources. We want to catch all local information and make it accessible to a wider audience. 
</p>
<hr>
<p>
  <h4>More</h4>
  This project is being developed as part of research at Virginia Tech. Learn more about it on the <%= link_to "About Research", research_url %> page. It is opensource and available on <a href='http://github.com/colloki/colloki'>Github</a>.
</p>