<h1>About</h1>
<!-- Add a pretty graphic here -->
<p>
  Colloki is a platform for people from Blacksburg, Christiansburg and neighboring places in Montgomery County to keep up with local issues and voice their opinions. We collect news about Blacksburg and neighboring areas everyday so that you stay up-to-date with latest issues.
</p>
<p>
  Colloki is an <a href="http://github.com/colloki/colloki">opensource</a> research project being developed at the <a href="http://diggov.cs.vt.edu/">SocialComp Group</a> at the <a href="http://hci.vt.edu/">Center for Human-Computer Interaction</a> in the <a href="http://www.cs.vt.edu/">Department of Computer Science</a> and the <a href="http://www.comm.vt.edu/">Department of Communication Studies</a> at Virginia Tech.
</p>