<div class="breadcrumb">About</div>
<p>
  Virtual Town Square is a platform for people from Blacksburg and neighboring towns in Montgomery County to keep up and discuss local issues with other residents.  We collect local news and discussions everyday so that you stay up-to-date with the latest issues.
</p>

<p>
  This project is being developed as part of research at Virginia Tech. Learn more about it on the <%= link_to "About Research", research_url %> page.
</p>

<p>
  <h4>History</h4>
  This project was previously known as Colloki. It is opensource and available on <a href='http://github.com/colloki/colloki'>Github</a>.
</p>