<%= render :partial => "partials/page_header", :locals => {:title => "About"} %>
<div class="row-fluid">
  <p class="lead">
    <strong>Virtual Town Square</strong> is a place to keep up and discuss local issues in the New River Valley.
  </p>
  <div style="text-align: center">
    <%= image_tag('HelpOverlay.png', :height => 804) %>
  </div><br><br>
</div>

<div class="row-fluid">

  <div class="row-fluid">
    <div class="span6 well">
      <h3>Local Issues</h3>
      <p class="lead">
        We collect <em>Local News, Blogs, Twitter and Facebook Discussions</em> happening in New River Valley, so that you can come here to keep up with important local issues and developments.
      </p>
    </div>

    <div class="span6 well">
      <h3>Participate</h3>
      <p class="lead">
        Post articles, comment and like news stories. Share news on your social networks on Twitter, Facebook or elsewhere.
      </p>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span6 well">
      <h3>Research</h3>
        <p class="lead">
          This project is being actively developed as part of research at <a href="http://vt.edu">Virginia Tech</a>. Learn more about it on the <%= link_to "About Research", research_url %> page.<br><br>

          It is opensource and available on <a href='http://github.com/colloki/colloki'>Github</a>.
        </p>
    </div>

    <div class="span6 well">
      <h3>Local Blogger or Publisher?</h3>
      <p class="lead">
        <%= render :partial => "partials/about/local_publisher" %>
      </p>
    </div>
  </div>

</div>
