<h2>Changelog</h2>

<br>
<h3>Someday, v1.0</h3>
<ul>
</ul>
<h3>April 17 2009, v0.74 (r89)</h3>
<ul>
  <li>Fixed a bug which let users un-vote items more than once.</li>
  <li>The 'Top Contributors' section on the Topic page now shows the top contributors to that topic, sorted by the number of posts they have contributed.</li>
  <li>Added 'New Users' listing to homepage.</li>
  <li>The main Topics page is now sorted by the most populated topics to least populated.</li>
  <li>Trimmed topic descriptions now show up on the homepage.</li>
  <li>Some users had complained about navigation to home page. Header navigation is now much simpler - Topic pages and other sub-pages now have a breadcrumbs-like link to go back to homepage.</li>
  <li>Added a 'What is Slurp?' section on the homepage</li>
</ul>

<h3>April 12 2009, v0.73 (r72)</h3>
<ul>
  <li>Changed the appearance of comments and posts on the post page.</li>
  <li>Added options on setting page that direct the user to gravatar.com for avatar editing.</li>
  <li>You can now delete your comments :)</li>
  <li>All pages, CSS and javascripts are now compressed.</li>
  <li>Updated the About page.</li>
  <li>Several layout and styling changes.</li>
</ul>

<h3>April 10 2009, v0.72 (r62)</h3>
<ul>
  <li>Several layout and CSS changes</li>
  <li>Clicking on link titles on the topic page now takes users to the link's page on slurp. A hover link lets users go to the actual link instead.</li>
</ul>

<h3>April 8 2009, v0.71 (r55)</h3>
<ul>
  <li>Standardized Button UI across application</li>
  <li>Semantic corrections to the showing and editing of posts and links</li>
  <li>Buttons for user's profile on different websites now shows up, URLs to Facebook and LinkedIn are now validated.</li>
</ul>

<h3>April 7 2009, v0.7 (r48)</h3>
<ul>
  <li>First deployment</li>
</ul>
