<%= render :partial => "partials/page_header", :locals => {:title => "Help"} %>

<p class="lead">
  <strong>Virtual Town Square</strong> lets you read and keep up with local discussions. Here are some of the things you can do:
</p>

<div style="text-align: center">
  <%= image_tag('HelpOverlay.png', :height => 804) %>
</div>
