<h1>Sources</h1>
These are the news sources we are using to identify important issues about Blacksburg and neighbors:
<br><br>
<ul>
  <li><a href="http://www.collegiatetimes.com">Collegiate Times</a></li>
  <li><a href="http://www.roanoke.com">Roanoke Times</a></li>
  <li><a href="http://www.vtnews.vt.edu">Virginia Tech News</a></li>
  <li><a href="http://www.bev.net">Blacksburg Electronic Village</a></li>
  <li><a href="http://www.blacksburg.va.us">Town of Blacksburg</a></li>
  <li><a href="http://www.citizensfirstforblacksburg.org">Citizens First For Blacksburg</a></li>
  <li><a href="http://downtownblacksburg.wordpress.com/">Downtown Blacksburg</a></li>
</ul>