<h1>News Sources</h1>
We are fetching content from the the following sources to identify important issues in Blacksburg:
<br><br>
<ul>
  <li><a href="http://www.collegiatetimes.com">Collegiate Times</a></li>
  <li><a href="http://www.roanoke.com">Roanoke Times</a></li>
  <li><a href="http://www.vtnews.vt.edu">Virginia Tech News</a></li>
  <li><a href="http://www.bev.net">Blacksburg Electronic Village</a></li>
  <li><a href="http://www.blacksburg.va.us">Town of Blacksburg</a></li>
  <li><a href="http://www.citizensfirstforblacksburg.org">Citizens First For Blacksburg</a></li>
  <li><a href="http://downtownblacksburg.wordpress.com/">Downtown Blacksburg</a></li>
</ul>