<h2>Local news and groups' blogs</h2>
<br>
We get content from the following local blogs in Blacksburg and Montgomery County:
<br><br>
<ul>
  <li><a href="http://www.collegiatetimes.com">Collegiate Times</a></li>
  <li><a href="http://blogs.roanoke.com/theburgs">The Burgs Blog</a></li>
  <li><a href="http://www.roanoke.com">Roanoke Times</a></li>
  <li><a href="http://www.vtnews.vt.edu">Virginia Tech News</a></li>
  <li><a href="http://www.bev.net">Blacksburg Electronic Village</a></li>
  <li><a href="http://www.blacksburg.va.us">Town of Blacksburg</a></li>
  <li><a href="http://www.citizensfirstforblacksburg.org">Citizens First For Blacksburg</a></li>
  <li><a href="http://downtownblacksburg.wordpress.com/">Downtown Blacksburg</a></li>
  <li><a href="http://www.christiansburg.org/">Christiansburg</a></li>
  <li><a href="http://www.myvaresources.com/blogs/depotdazed/">Depotdazed</a></li>
  <li><a href="http://nrvnews.com/">NRV News</a></li>
  <li><a href="http://www2.swvatoday.com/">SWVA Today</a></li>
  <li><a href="http://www.southwesttimes.com/">The Southwest Times</a></li>
  <li><a href="http://www.lwvmcva.org">LWVMCA</a></li>
</ul>
<hr>
Did we miss a blog you read? Please send us a link using the following form or 
<a href="mailto:ahuja.ankit@vt.edu">email us.</a>
<br><br>

<!-- TODO: make this form work -->

<%= form_for :user, :url => users_path, :html => { :class => "form-horizontal" } do |f| %>
  <div class="control-group">
    <label>
      Blog Link
    </label>
    <div class="controls">
      <%= f.text_field :link, :class => "span5" %>
    </div>
  </div>
  <div class="control-group">
    <label>
      Description<p class="help-block">optional</p>
    </label>
    <div class="controls">
      <%= f.text_area :description, :class => "span5", :rows => 5 %>
    </div>
  </div>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">
      Send!
    </button>
  </div>
<% end %>
<br><br>

Have suggestions? <a href="mailto:ahuja.ankit@vt.edu">Email us</a>! To know more about this research project, please see the <a href="/about">About</a> page.