<h2>Project 4 - Thingy-U-Like </h2>

<p><b>Objective:</b> The objective of this project is to setup the first version of your web-application. This application supports the basic functionality on the web, with some initial hooks for support by client applications.</p>

<h3>Description</h3>
<p>Your initial application should clearly identify an application domain and some social aspect to explore.  Functionality should have at minimum:</p>
<ul>
<li>An easy way to allow users to store Thingies of interests. You should allow a short comment to be written with each Thingy.</li>
<li>Support CRUD (create, read, update, delete)</li>
<li>Allow users to organize the Thingies. This might involve the use of user defined tags, or folders, or some other organization that might be inherent of the Thingie itself (e.g. music organization can be based on artist or genre).</li>
<li>Provide RSS feeds of as many options and combinations as possible.</li>
<li>Provide some form of community collaboration around the Thingies. This might involved &quot;other people like X&quot;, or community &quot;voting&quot; for most popular, or even counts of times Thingies have been viewed or used, or ...</li>
</ul>

<p>This is your Alpha release, so it is understood if some things are not as clean or as clear as expected. For example, help is not needed at this stage. All functionality outlined above is required (or your grade will suffer), but how &quot;pretty&quot; it looks it not a requirement at this stage. That is something that you will add for the Beta release of your software.</p>

<h3>Submit</h3>
<p>For all projects this semester, you will have to do the following things:</p>
<ol>
<li>Upload a zip file with all of your code in it.  The file must have the name in the following format:  p<i>n</i>-pid1-pid2-pid3.zip, where <i>n</i> is the number for the project (project 0, 1, 2, ...), and <i>pids</i> are the pids of three members of the group.</li>
<li>Have your code running on some server so that the GTA and professor can see it and test it</li>
<li>Demo your code to the GTA as some accorded time</li>
<li>Demo your code in class on Nov 12th.</li>
</ol></div>