<a href="#story-modal-<%= story.id %>" class="comment-count has-tooltip btn btn-mini" data-toggle="modal" title="<%= story.comments.count %> comments">
  <i class="icon-comment"></i>
  <span class="comment-count-value"><%= story.comments.count %></span>
</a>
