<h1>
  Complete Sign Up
</h1>

<%= error_messages_for :user %>

<%= form_for :user, :url => complete_signup_url do |f| -%>
<div class="clearfix">
  <label for="login">Pick a username</label>
  <div class="input">
    <%= f.text_field :login, :value => @login %>
    <span class="help-block">Cannot have spaces or any other special characters</span>
  </div>
</div>

<div class="clearfix">
  <label for="email">Email</label>
  <div class="input">
    <%= f.text_field :email, :value => @email %>
  </div>
</div>

<div class="actions">
  <button type="submit" class="btn success">
    Done
  </button>
</div>

<% end %>