<h2>
  Please complete sign up
</h2>
<hr>

<%= error_messages_for :user %>

<%= form_for :user, :url => complete_signup_url, :html => { :class => "form-horizontal" } do |f| -%>
  <div class="control-group">
    <label for="login" class="control-label">
      Pick a username
      <p class="help-block">Cannot have spaces or any other special characters</p>
    </label>
    <div class="controls">
      <%= f.text_field :login, :value => @login %>
    </div>
  </div>

  <div class="control-group">
    <label for="email" class="control-label">
      Email
    </label>
    <div class="controls">
      <%= f.text_field :email, :value => @email %>
    </div>
  </div>

  <div class="form-actions">
    <button type="submit" class="btn btn-success">
      Done
    </button>
  </div>
<% end %>