// User Profile CSS

.user-header.well {
  margin-left: 0px;

  .user-info {
    font-weight: 300;
  }

  .user-follow {
    margin-left: 10px;
  }

  .user-avatar {
    width: 60px;
    margin-right: 15px;
    margin-left: 10px;
  }

  .user-description {
    margin-left: 0;
    margin-top: -10px;
  }

  h3 {
    margin-top: 0;
  }
}

.user-to-follow {
  max-width: 500px;
  margin-bottom: 5px;
  padding: 10px;
  padding-left: 0;
  border-bottom: 1px solid #eee;

  .user-avatar.span1 {
    width: 60px;
    margin-right: 10px;
  }

  .user-description {
    margin-left: 0;
    margin-top: -12px;
  }

  .user-bio {
    color: #555;
    font-family: Georgia;
    font-size: 14px;
    font-style: italic;
    margin-top: -10px;
  }
}

.nav-tabs .active a i,
.nav-tabs .active a:hover i {
  background-image: url("/assets/twitter/bootstrap/glyphicons-halflings.png") !important;
}

.user-posts,
.user-comments,
.user-likes {
  .topic-stories {
    min-height: 500px;
  }
}

.avatar {
  margin-right: 5px;
  margin-bottom: 5px;
  float: left;

  img {
    width: 50px;
    height: 50px;
  }
}
