<div class="span4 story-item">
  <%= story_item_thumbnail(story, "small") %>
  <h4>
    <%= render :partial => "partials/story_item/title",
      :locals => {:story => story} %>
  </h4>
  <p>
    <%= story_item_content(story, 20, 140) %>
  </p>
  <%= render :partial => "partials/story_item/meta",
    :locals => {:story => story} %>
</div>
