<!DOCTYPE html PUBLIC "-//W3C//D
TD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <title>	Slurp! Mobile | <%= params[:controller].capitalize %> | <%= controller.action_name.capitalize %></title>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
  <meta name="apple-touch-fullscreen" content="YES" />
  <style type="text/css" media="screen">@import "/iui/iui.css";</style>
  <script type="application/x-javascript" src="/iui/iui.js"></script>
  <body onclick="console.log('Hello', event.target);">
    <div class="toolbar">
        <h1 id="pageTitle"></h1>
        <a id="backButton" class="button" href="#"></a>
        <a class="button" href="#searchForm">Search</a>
    </div>
    <%= yield %>
    <form id="searchForm" class="dialog" action="/stories/search" method="POST">
	        <fieldset>
	            <h1>Search</h1>
	            <a class="button leftButton" type="cancel">Cancel</a>
	            <a class="button blueButton" type="submit">Search</a>
	            <label>What:</label>
	            <input type="text" name="query"/>
	        </fieldset>
	   </form>
 </body>
</html>

